/*
* Address page style.
*/

@import '../../styles/mixins';

.user-inbox {
  margin: rem(30) 0 rem(120);
  @media only screen and (min-width: 768px) {
    margin: rem(50) 0;
  }
  .page-title {
    padding: 0 0 rem(27);
    border-bottom: rem(1) solid var(--color-textBlack-10);
    @include relative;
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include fontSize(14);
    }
    a {
      @include absolute(left 0);
    }
  }
  .MuiTypography-body1 {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      line-height: 1.33;
      letter-spacing: -0.01em;
      @include fontSize(12);
    }
  }
  .message__item {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.order-product {
  &__items {
    margin-bottom: rem(32);
  }
  &__item {
    padding: rem(16) 0;
    gap: rem(20);
    &:last-of-type {
      margin-bottom: rem(20);
    }
    &:last-child {
      border-bottom: rem(1) solid var(--color-textBlack-10);
    }
    .order-details-page & {
      border-top: rem(1) solid var(--color-textBlack-10);
    }
    svg {
      align-self: center;
      justify-self: flex-end;
      width: rem(28);
      height: rem(28);
    }
    h2 {
      @media only screen and (max-width: 767px) {
        margin-bottom: rem(6);
        line-height: 1.38;
        letter-spacing: -0.02em;
        @include fontSize(13);
      }
    }
    img {
      border-radius: rem(4);
      flex: 1 0 rem(110);
      max-width: rem(110);
      @media only screen and (max-width: 767px) {
        flex: 1 0 rem(54);
        max-width: rem(54);
      }
    }
  }
}

.feedback-form {
  h2 {
    @media only screen and (max-width: 767px) {
      line-height: 1.16;
      letter-spacing: -0.02em;
      @include fontSize(16);
    }
  }
  .MuiTypography-body1 {
    font-weight: 500;
    @media only screen and (max-width: 767px) {
      line-height: 1.54;
      @include fontSize(13);
    }
  }
  &__uploader {
    height: rem(149);
    padding: rem(9) rem(16) rem(11) rem(20);
    border: rem(1) solid var(--color-textBlack);
    @include border-radius(10px);
    @include flex(center, center);
  }
  .button {
    padding-top: rem(9);
    padding-bottom: rem(9);
  }
}

//message
.message {
  &__item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    img {
      border-radius: rem(4);
      flex: 1 0 rem(110);
      max-width: rem(110);
      object-fit: cover;
      @media only screen and (max-width: 899px) {
        flex: 1 0 rem(54);
        max-width: rem(54);
        height: rem(54);
      }
    }
    h6 {
      line-height: rem(16);
      @include fontSize(14);
      @media screen and (min-width: 900px) {
        line-height: 1;
        @include fontSize(32);
      }
    }
    h2 {
      margin-top: rem(10);
      margin-bottom: rem(6);
      @media screen and (max-width: 899px) {
        @include fontSize(13);
        line-height: rem(15.08);
      }
    }
    svg {
      align-self: center;
      justify-self: flex-end;
      width: 1.75rem;
      height: 1.75rem;
    }
    p {
      @media screen and (max-width: 899px) {
        @include fontSize(12);
        line-height: rem(16);
      }
      &:not(:last-child) {
        margin-bottom: rem(6);
      }
    }
  }
}
