@use '../../../styles/mixins';

.my-vips {
  &-page {
    margin: mixins.rem(23) 0;
    @media only screen and (min-width: 768px) {
      margin: mixins.rem(50) 0;
    }
    &__head {
      margin-bottom: mixins.rem(28);
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: mixins.rem(12);
      @include mixins.relative;
      @media only screen and (min-width: 768px) {
        padding-bottom: mixins.rem(24);
      }
      h1 {
        margin: 0;
        padding: mixins.rem(7.5) 0;
        @media only screen and (max-width: 767px) {
          padding: mixins.rem(5) 0;
        }
      }
      .button--sign-out {
        left: 0;
        right: auto;
        border: none;
        &:hover {
          border: none;
          background-color: transparent;
        }
      }
      a {
        line-height: 1.33;
        letter-spacing: -0.01em;
        padding: mixins.rem(7) mixins.rem(14);
        @include mixins.fontSize(16);
        @include mixins.absolute(right 0 top -2px);
        @media only screen and (max-width: 767px) {
          @include mixins.fontSize(12);
          top: mixins.rem(-4);
        }
        svg {
          display: inline-block;
          width: mixins.rem(20);
          height: mixins.rem(20);
          vertical-align: bottom;
          @media only screen and (max-width: 767px) {
            width: mixins.rem(18);
            height: mixins.rem(18);
          }
        }
      }
      button {
        line-height: 1.33;
        letter-spacing: -0.01em;
        padding: mixins.rem(7) mixins.rem(14);
        @include mixins.fontSize(16);
        @include mixins.absolute(right 0 top -2px);
        @media only screen and (max-width: 767px) {
          line-height: 1.66;
          top: mixins.rem(-4);
          @include mixins.fontSize(12);
          svg {
            width: mixins.rem(16);
            height: mixins.rem(16);
          }
        }
      }
    }
    h2 {
      @media only screen and (max-width: 767px) {
        margin-bottom: mixins.rem(6);
        line-height: 1.38;
        letter-spacing: -0.02em;
        @include mixins.fontSize(14);
      }
    }
    p {
      color: var(--color-textBlack-80);
      @media only screen and (max-width: 767px) {
        line-height: 1.33;
        letter-spacing: -0.01em;
        @include mixins.fontSize(12);
      }
    }
    button {
      @media only screen and (min-width: 768px) {
        max-width: mixins.rem(200);
        float: right;
      }
    }
  }
  .page-title {
    padding: 0 0 mixins.rem(27);
    border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    @include mixins.relative;
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include mixins.fontSize(14);
    }
    a {
      @include mixins.absolute(left 0);
    }
  }
  .MuiTypography-body1 {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      line-height: 1.33;
      letter-spacing: -0.01em;
      @include mixins.fontSize(12);
    }
  }
}
