/*
* Address page style.
*/

@import '../../styles/mixins';

.opportunity {
  margin: rem(30) 0 rem(120);
  @media only screen and (min-width: 768px) {
    margin: rem(50) 0;
  }
  .page-title {
    padding: 0 0 rem(27);
    border-bottom: rem(1) solid var(--color-textBlack-10);
    @include relative;
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include fontSize(14);
    }
  }
  &__info {
    p,
    button {
      color: var(--color-textBlack-80);
      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: -0.01em;
      padding: 0;
      @include fontSize(16);
      @media only screen and (max-width: 767px) {
        @include fontSize(13);
      }
    }
    button {
      text-decoration: underline;
    }
  }
  &__tabs {
    padding: rem(3);
    background-color: var(--color-textBlack-10);
    margin-bottom: rem(17);
    @include border-radius(6px);
    @media only screen and (max-width: 767px) {
      min-height: auto !important;
    }
    [aria-label='opportunity tabs'] {
      justify-content: space-between;
    }
    button {
      text-transform: capitalize;
      color: var(--color-textBlack);
      flex: 1 0 50%;
      max-width: 50%;
      font-weight: 500;
      line-height: 2;
      letter-spacing: -0.03em;
      min-height: auto;
      @include border-radius(4px);
      @media only screen and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: rem(2);
        @include fontSize(12);
      }
      &.Mui-selected {
        background-color: var(--color-textBlack);
        color: var(--color-white);
        + button {
          &::after {
            display: none !important;
          }
        }
      }
      &:not(.Mui-selected):not(:first-child) {
        &:after {
          content: '';
          width: rem(1);
          height: 50%;
          display: block;
          background: var(--color-textBlack-20);
          @include absolute(left 2px z-index 1);
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }
  &__details {
    p {
      color: var(--color-textBlack-80);
      @media only screen and (max-width: 767px) {
        letter-spacing: -0.01em;
        line-height: 1.38;
        @include fontSize(13);
      }
    }
  }
}
