/*
* Home style.
*/

@use '../../styles/mixins';

.opportunity-detail-page {
  margin: mixins.rem(30) 0 mixins.rem(50);
  @media only screen and (min-width: 768px) {
    margin: mixins.rem(50) 0;
  }
  .page-title {
    padding: 0 0 mixins.rem(27);
    @include mixins.relative();
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include mixins.fontSize(14);
    }
    a {
      @include mixins.absolute(left 0);
    }
    svg {
      @include mixins.absolute(left 0);
    }
  }
  .request-button {
    margin-bottom: mixins.rem(26);
    text-align: center;
  }
  button {
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .slick-dots {
    max-width: 100%;
    padding: 0;
    margin-bottom: mixins.rem(16);
    position: static;
    @media only screen and (min-width: 768px) {
      margin-bottom: mixins.rem(24);
    }
    li {
      width: mixins.rem(12);
      height: mixins.rem(12);
      @media only screen and (max-width: 767px) {
        margin: 0 5px 0 0;
        width: mixins.rem(6);
        height: mixins.rem(6);
        overflow: hidden;
      }
      &.slick-active {
        button:before {
          color: var(--color-textBlack);
          opacity: 1;
        }
      }
      button {
        width: mixins.rem(12);
        height: mixins.rem(12);
        @media only screen and (max-width: 767px) {
          padding: 0;
          width: mixins.rem(6);
          height: mixins.rem(6);
        }
        &::before {
          color: var(--color-textBlack);
          opacity: 0.2;
          line-height: normal;
          @include mixins.fontSize(10);
          @media only screen and (max-width: 767px) {
            width: mixins.rem(6);
            height: mixins.rem(6);
            @include mixins.fontSize(6);
          }
        }
      }
    }
  }
  .MuiCardContent-root {
    padding: 0;
  }
  .MuiPaper-root {
    .MuiCardContent-root {
      padding: mixins.rem(16) mixins.rem(16) mixins.rem(24);
    }
  }
  .opportunity__details {
    margin: mixins.rem(16) 0;
    @media only screen and (min-width: 768px) {
      margin: mixins.rem(24) 0;
    }
  }
}

.MuiInputBase-root {
  padding: 0;
  &::before,
  &::after {
    display: none;
  }
  textarea {
    padding: mixins.rem(16);
    height: mixins.rem(188) !important;
    font-weight: 400;
    line-height: 1.142;
    @include mixins.border-radius(10px);
    @include mixins.fontSize(14);
  }
}
