/*
* Home style.
*/

@import '../../styles/mixins';

.opportunity-detail-page {
  margin: rem(30) 0 rem(50);
  @media only screen and (min-width: 768px) {
    margin: rem(50) 0;
  }
  .page-title {
    padding: 0 0 rem(27);
    @include relative();
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include fontSize(14);
    }
    a {
      @include absolute(left 0);
    }
    svg {
      @include absolute(left 0);
    }
  }
  button {
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .slick-dots {
    max-width: 100%;
    padding: 0;
    margin-bottom: rem(16);
    position: static;
    @media only screen and (min-width: 768px) {
      margin-bottom: rem(24);
    }
    li {
      width: rem(12);
      height: rem(12);
      @media only screen and (max-width: 767px) {
        margin: 0 5px 0 0;
        width: rem(6);
        height: rem(6);
        overflow: hidden;
      }
      &.slick-active {
        button:before {
          color: var(--color-textBlack);
          opacity: 1;
        }
      }
      button {
        width: rem(12);
        height: rem(12);
        @media only screen and (max-width: 767px) {
          padding: 0;
          width: rem(6);
          height: rem(6);
        }
        &::before {
          color: var(--color-textBlack);
          opacity: 0.2;
          line-height: normal;
          @include fontSize(10);
          @media only screen and (max-width: 767px) {
            width: rem(6);
            height: rem(6);
            @include fontSize(6);
          }
        }
      }
    }
  }
  .MuiCardContent-root {
    padding: 0;
  }
  .opportunity__details {
    margin: rem(16) 0;
    @media only screen and (min-width: 768px) {
      margin: rem(24) 0;
    }
  }
}
