/*
* Address page style.
*/

@use '../../styles/mixins';

.opportunity {
  margin: mixins.rem(30) 0 mixins.rem(120);
  @media only screen and (min-width: 768px) {
    margin: mixins.rem(50) 0;
  }
  .page-title {
    padding: 0 0 mixins.rem(27);
    border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    @include mixins.relative;
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include mixins.fontSize(14);
    }
  }
  &__info {
    p,
    button {
      color: var(--color-textBlack-80);
      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: -0.01em;
      padding: 0;
      @include mixins.fontSize(16);
      @media only screen and (max-width: 767px) {
        @include mixins.fontSize(13);
      }
    }
    button {
      text-decoration: underline;
    }
  }
  &__tabs {
    padding: mixins.rem(3);
    background-color: var(--color-textBlack-10);
    margin-bottom: mixins.rem(17);
    @include mixins.border-radius(6px);
    @media only screen and (max-width: 767px) {
      min-height: auto !important;
    }
    [aria-label='opportunity tabs'] {
      justify-content: space-between;
    }
    button {
      text-transform: capitalize;
      color: var(--color-textBlack);
      flex: 1 0 50%;
      max-width: 50%;
      font-weight: 500;
      line-height: 2;
      letter-spacing: -0.03em;
      min-height: auto;
      @include mixins.border-radius(4px);
      @media only screen and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: mixins.rem(2);
        @include mixins.fontSize(12);
      }
      &.Mui-selected {
        background-color: var(--color-textBlack);
        color: var(--color-white);
        + button {
          &::after {
            display: none !important;
          }
        }
      }
      &:not(.Mui-selected):not(:first-child) {
        &:after {
          content: '';
          width: mixins.rem(1);
          height: 50%;
          display: block;
          background: var(--color-textBlack-20);
          @include mixins.absolute(left 2px z-index 1);
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }
  &__details {
    p {
      color: var(--color-textBlack-80);
      @media only screen and (max-width: 767px) {
        letter-spacing: -0.01em;
        line-height: 1.38;
        @include mixins.fontSize(13);
      }
    }
  }
  &-product {
    display: flex;
    flex-direction: column;
    .dashboard-card {
      margin-bottom: mixins.rem(12);
    }
    .dashboard-card__content {
      color: #1b1b1b;
      position: unset;
      padding: 0;
      background: none;
      h2 {
        margin-bottom: mixins.rem(10);
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        color: #494947;
      }
    }
    .opportunity-product__link {
      margin-top: auto;
      button {
        width: 100%;
      }
    }
  }
}
