/*
* Custom Stepper style.
*/

@use '../../styles/mixins';

.custom-stepper {
  margin-bottom: mixins.rem(40);
  margin-top: auto;
  padding-top: mixins.rem(32);
  background-color: var(--color-marble);
  @include mixins.flex(space-between, center);
  button {
    width: mixins.rem(87);
    height: mixins.rem(40);
    border: mixins.rem(1) solid var(--color-textBlack);
    background-color: var(--color-textBlack);
    color: var(--color-marble);
    @include mixins.border-radius(60px);
    &:hover {
      background-color: var(--color-marble);
      color: var(--color-textBlack);
    }
    @media (hover: none) and (pointer: coarse) {
      &:hover {
        background-color: var(--color-textBlack);
        color: var(--color-white);
      }
    }
  }
  p {
    font-weight: 500;
  }
  > div {
    &:has(button) {
      flex: 1;
      justify-content: space-between;
    }
  }
}
