/*
* Profile Form style.
*/

@import '../../styles/mixins';

.profile-builder {
  &__form {
    width: 100%;
    margin-top: rem(50);
    flex-direction: column;
    @include flex();
    &-row {
      margin-bottom: rem(16);
      .step1-form &,
      .step5-form & {
        flex-wrap: wrap;
        @include flex(center);
      }
      h3 {
        @media only screen and (max-width: 767px) {
          margin-bottom: rem(8);
          line-height: 1.07;
          @include fontSize(16);
        }
      }
      p {
        margin-bottom: rem(16);
        @media only screen and (max-width: 767px) {
          line-height: 1.428;
          letter-spacing: -0.01em;
          @include fontSize(14);
        }
      }
      .MuiFormControl-root {
        margin: 0 0 rem(16);
      }
    }
  }
  &__search,
  &__head {
    gap: rem(20);
    width: 100%;
    margin-bottom: rem(32);
    flex-direction: column;
    @include flex(center);
    h3 {
      @include fontSize(14);
      @media only screen and (min-width: 768px) {
        @include fontSize(20);
      }
    }
  }
  &__main {
    margin: 0 auto;
    width: 100%;
    max-width: rem(380);
    @media only screen and (min-width: 768px) {
      max-width: rem(480);
    }
    h2 {
      line-height: 1.07;
      @include fontSize(24);
      @media only screen and (min-width: 768px) {
        @include fontSize(30);
      }
    }
    .step1-form .profile-builder__form-row,
    .step5-form {
      label {
        margin: rem(5);
        padding: rem(4) rem(13.5);
        border: rem(1) solid var(--color-textBlack);
        background-color: transparent;
        color: var(--color-textBlack);
        @include border-radius(50px);
        @media only screen and (max-width: 767px) {
          font-weight: 400;
          line-height: 1.33;
          @include fontSize(15);
        }
        & .MuiFormControlLabel-label {
          font-weight: normal;
        }
        &:has(.Mui-checked) {
          background-color: var(--color-textBlack);
          border-color: var(--color-textBlack);
          color: var(--color-white);
        }
      }
      .MuiCheckbox-root {
        padding: 0;
        margin-right: rem(6);
        &:before {
          content: '';
          width: rem(7);
          height: rem(7);
          display: inline-block;
          border: rem(1) solid var(--color-textBlack);
          background-color: var(--color-marble);
          margin-top: rem(-1);
          @include border-radius(50%);
        }
        &.Mui-checked {
          &:before {
            background-color: var(--color-marble);
            border-color: transparent;
          }
        }
        &.Mui-disabled {
          color: var(--color-textBlack-60);
        }
        .MuiSvgIcon-root {
          display: none;
        }
      }
      .profile-builder__form-row {
        max-height: rem(262);
        overflow-y: auto;
      }
    }
    .step4-form {
      .form-checkbox-group {
        overflow-y: auto;
        max-height: rem(280);
      }
    }
  }
  &__close {
    button {
      min-width: auto;
      line-height: 0;
      // background-color: var(--color-textBlack);
      padding: rem(2);
      width: rem(30);
      height: rem(30);
      @include border-radius(50%);
      @include flex(center, center);
      @include absolute(top 10px right 15px);
      // &:hover {
      //   background-color: var(--color-textBlack);
      // }
      // svg {
      //   color: var(--color-marble);
      // }
      .MuiTouchRipple-root {
        display: none;
      }
    }
  }
  &__pets {
    .step1-form & {
      justify-content: flex-start;
      label {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
