/*
* Login Form style.
*/

@import '../../styles/mixins';

.forgot-password-form {
  width: 100%;
  max-width: rem(350);
  margin-bottom: rem(33);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  .MuiFormControl-root {
    margin-bottom: rem(15);
  }
  .button--white {
    margin-top: rem(17);
    margin-bottom: rem(7);
  }
  @include fontSize(13);
}
