/*
* FAQ page style.
*/

@use '../../styles/mixins';

.accordion-container {
  margin-bottom: mixins.rem(80);
  .accordion-tab {
    background-color: #1b1b1b;
    box-shadow: none;
    margin: 0 !important;
    border-bottom: mixins.rem(1) solid #494947;
    &:first-child {
      border-top: mixins.rem(1) solid #494947;
    }
    svg {
      fill: var(--color-marble);
    }
    &.Mui-expanded {
      padding-bottom: mixins.rem(24);
      .accordion-detail {
        padding-top: mixins.rem(8);
      }
    }
  }
  p {
    line-height: mixins.rem(22);
    @include mixins.fontSize(14);
  }
  .accordion-detail {
    padding-bottom: 0;
    p {
      opacity: 70%;
    }
  }
  .accordion-title {
    p {
      padding: mixins.rem(16) 0;
      font-weight: 500;
    }
    &.Mui-expanded {
      min-height: unset;
      p {
        padding-bottom: 0;
      }
    }
    min-height: unset;
    .MuiAccordionSummary-content {
      margin: 0;
    }
  }
}
