/*
* Basket style.
*/

@use '../../styles/mixins';

.basket-page {
  margin: mixins.rem(28) 0;
  @media only screen and (min-width: 768px) {
    margin: mixins.rem(50) 0;
  }
  img {
    object-fit: cover;
    @media only screen and (max-width: 767px) {
      height: auto;
    }
  }
  h2 {
    @media only screen and (max-width: 767px) {
      margin-bottom: mixins.rem(6);
      line-height: 1.38;
      letter-spacing: -0.02em;
      @include mixins.fontSize(13);
    }
  }
  p {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      line-height: 1.33;
      letter-spacing: -0.01em;
      @include mixins.fontSize(12);
    }
  }
}
.basket-product {
  &__items {
    margin-bottom: mixins.rem(50);
    button {
      width: 100%;
      @media only screen and (min-width: 768px) {
        width: auto;
        max-width: mixins.rem(200);
        float: right;
      }
      + .button {
        margin: 0;
      }
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 60px auto 60px;
    gap: mixins.rem(20);
    padding: mixins.rem(16) mixins.rem(8);
    border-top: mixins.rem(1) solid var(--color-textBlack-10);
    &:last-of-type {
      border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
      margin-bottom: mixins.rem(20);
    }
    @media only screen and (min-width: 768px) {
      grid-template-columns: 120px auto 60px;
    }
  }
  &__delete {
    align-self: center;
    justify-self: flex-end;
    width: mixins.rem(28);
    height: mixins.rem(28);
  }
}
