/*
* Basket style.
*/

@import '../../styles/mixins';

.basket-page {
  margin: rem(28) 0;
  @media only screen and (min-width: 768px) {
    margin: rem(72) 0;
  }
  img {
    height: auto;
  }
  h2 {
    @media only screen and (max-width: 767px) {
      margin-bottom: rem(6);
      line-height: 1.38;
      letter-spacing: -0.02em;
      @include fontSize(13);
    }
  }
  p {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      line-height: 1.33;
      letter-spacing: -0.01em;
      @include fontSize(12);
    }
  }
}
