@use '../../styles/mixins';

.signup {
  &__page {
    min-height: 100vh;
    padding: mixins.rem(16);
    width: 100%;
    flex-direction: column;
    @include mixins.flex(center, center);
    &-inner {
      width: 100%;
      max-width: 350px;
      margin: mixins.rem(33) 0;
      flex-direction: column;
      @include mixins.flex;
      h2 {
        font-weight: 500;
        line-height: 1.07;
        letter-spacing: -0.03em;
        margin-bottom: mixins.rem(20);
        color: var(--color-Black);
        @include mixins.fontSize(24);
      }
      > p {
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: -0.01em;
        margin-bottom: mixins.rem(32);
        color: var(--color-black);
        @include mixins.fontSize(14);
      }
      .input-text {
        &.company-name {
          justify-content: flex-end;
        }
      }
    }
    h2,
    p {
      &:not(.Mui-error) {
        text-align: center;
      }
    }
  }
  &-form {
    width: 100%;
    flex-direction: column;
    margin-top: auto;
    @include mixins.flex;
  }
}
