/*
* Events Cards style.
*/

@use '../../styles/mixins';
@use '../../styles/variables';

.site-card {
  margin-bottom: mixins.rem(18);
  @media only screen and (min-width: 768px) {
    margin-bottom: mixins.rem(32);
  }
  &__item {
    &.MuiPaper-root {
      border: 0 none;
      box-shadow: 0 0 0 transparent;
      border-radius: 0;
    }
  }
  &__image {
    overflow: hidden;
    @include mixins.border-radius(4px);
    img {
      height: auto;
    }
  }
  &__content {
    &.MuiCardContent-root {
      padding: mixins.rem(20) 0;
    }
    h2 {
      line-height: 1.28;
      letter-spacing: -0.03em;
      margin-bottom: mixins.rem(12);
      @include mixins.fontSize(25);
    }
    p {
      line-height: 1.57;
      margin-bottom: mixins.rem(24);
      color: rgba(variables.$textBlack, 0.8);
      letter-spacing: normal;
    }
  }
}
