/*
* Header Top style.
*/

@use '../../styles/mixins';

.headerTop {
  background-color: var(--color-black);
  min-height: mixins.rem(28);
  @include mixins.flex(center, center);
  p,
  a {
    color: var(--color-marble);
    @include mixins.fontSize(11);
  }
}
