/*
* Join Us Section style.
*/

@use '../../styles/mixins';

.joinus-section {
  margin-bottom: mixins.rem(40);
  &__head {
    margin-bottom: mixins.rem(20);
    text-align: center;
    @media only screen and (min-width: 600px) {
      text-align: left;
    }
    h2 {
      line-height: 1.6;
      letter-spacing: -0.05em;
      margin-bottom: mixins.rem(20);
      @include mixins.fontSize(30);
      @media only screen and (min-width: 992px) {
        margin-bottom: mixins.rem(37);
        @include mixins.fontSize(50);
      }
    }
  }
  &__content {
    > .MuiGrid-root {
      @media only screen and (min-width: 992px) {
        padding-top: mixins.rem(18);
      }
    }
  }
  &__feature {
    background-color: var(--color-marble) !important;
    margin-bottom: mixins.rem(20);
    @include mixins.flex;
  }
  &__icon {
    flex: 1 0 mixins.rem(48);
    max-width: mixins.rem(48);
    height: mixins.rem(48);
    background-color: var(--color-gray-40);
    @include mixins.border-radius(6px);
    @include mixins.flex(center, center);
  }
  h3 {
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: mixins.rem(8);
    @include mixins.fontSize(20);
  }
  p {
    font-weight: 400;
    line-height: 1.43;
    color: var(--color-textBlack);
    opacity: 0.7;
    @include mixins.fontSize(14);
  }
  &--home {
    .joinus-section__text {
      @media only screen and (min-width: 900px) {
        padding-left: mixins.rem(33);
      }
    }
    .joinus-section {
      &__desc {
        align-items: flex-start;
        h6 {
          line-height: mixins.rem(24);
          margin-bottom: mixins.rem(4);
        }
      }
    }
  }
}
