/*
* Home style.
*/

@import '../../../styles/mixins';

.landing-page {
  .search-box {
    button {
      margin-top: 0;
    }
  }
  h2 {
    margin-bottom: rem(12);
    letter-spacing: -0.01em;
    @include fontSize(24);
    @media only screen and (max-width: 767px) {
      margin-bottom: rem(8);
      line-height: 1.2;
      @include fontSize(20);
    }
  }
  &__tabs {
    padding: rem(3);
    background-color: var(--color-textBlack-10);
    @include border-radius(6px);
    @media only screen and (max-width: 767px) {
      min-height: auto;
    }
    [aria-label='profile tabs'] {
      justify-content: space-between;
    }
    button {
      text-transform: capitalize;
      color: var(--color-textBlack);
      flex: 1 0 33.333%;
      max-width: 33.333%;
      font-weight: 500;
      line-height: 2;
      letter-spacing: -0.03em;
      min-height: auto;
      @include border-radius(4px);
      @media only screen and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: rem(2);
        @include fontSize(12);
      }
      &.Mui-selected {
        background-color: var(--color-textBlack);
        color: var(--color-white);
        + button {
          &::after {
            display: none !important;
          }
        }
      }
      &:not(.Mui-selected):not(:first-child) {
        &:after {
          content: '';
          width: rem(1);
          height: 50%;
          display: block;
          background: var(--color-textBlack-20);
          @include absolute(left 2px z-index 1);
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }
}

.gray-card {
  margin-bottom: rem(20);
  &__item {
    background-color: #f0f0e5;
    flex: 1 0 0;
    box-shadow: 0 0 0 transparent;
    @include relative;
    @include border-radius(8px);
    h2 {
      margin-bottom: rem(16);
      @media only screen and (max-width: 767px) {
        margin-bottom: rem(6);
        line-height: 1.07;
        letter-spacing: -0.03em;
        @include fontSize(16);
      }
    }
    p {
      margin-bottom: rem(16);
      color: var(--color-textBlack-60);
      @media only screen and (max-width: 767px) {
        margin-bottom: rem(11);
        line-height: 1.45;
        letter-spacing: -0.03em;
        @include fontSize(11);
      }
    }
    a {
      text-decoration: none;
      @include absolute(bottom 0 right 9px);
    }
  }
}

.landing-product {
  margin-bottom: rem(40);
  &__item {
    &-inner {
      position: relative;
      height: 440px;
      background-size: cover;
      background-position: center;
      .MuiChip-filled {
        background: var(--color-white);
        @include absolute(left 12px top 12px);
      }
    }
    &-content {
      padding: rem(12) !important;
      color: var(--color-marble);
      @include absolute(bottom 0 left 0);
      p {
        @media only screen and (max-width: 767px) {
          @include fontSize(12);
        }
      }
    }
  }
}
