/*
* Profile Form style.
*/

@use '../../styles/mixins';

.profile-builder {
  &__form {
    width: 100%;
    margin-top: mixins.rem(50);
    flex-direction: column;
    @include mixins.flex();
    &-row {
      margin-bottom: mixins.rem(16);
      .step1-form &,
      .step5-form & {
        flex-wrap: wrap;
        @include mixins.flex(center);
      }
      h3 {
        @media only screen and (max-width: 767px) {
          margin-bottom: mixins.rem(8);
          line-height: 1.07;
          @include mixins.fontSize(16);
        }
      }
      p {
        margin-bottom: mixins.rem(16);
        @media only screen and (max-width: 767px) {
          line-height: 1.428;
          letter-spacing: -0.01em;
          @include mixins.fontSize(14);
        }
      }
      .MuiFormControl-root {
        margin: 0 0 mixins.rem(16);
      }
    }
  }
  &__search,
  &__head {
    gap: mixins.rem(20);
    width: 100%;
    margin-bottom: mixins.rem(32);
    flex-direction: column;
    @include mixins.flex(center);
    h3 {
      @include mixins.fontSize(14);
      @media only screen and (min-width: 768px) {
        @include mixins.fontSize(20);
      }
    }
  }
  &__main {
    margin: 0 auto;
    width: 100%;
    max-width: mixins.rem(380);
    @media only screen and (min-width: 768px) {
      max-width: mixins.rem(480);
    }
    h2 {
      line-height: 1.07;
      @include mixins.fontSize(24);
      @media only screen and (min-width: 768px) {
        @include mixins.fontSize(30);
      }
    }
    .step1-form .profile-builder__form-row,
    .step5-form {
      label {
        margin: mixins.rem(5);
        padding: mixins.rem(4) mixins.rem(13.5);
        border: mixins.rem(1) solid var(--color-textBlack);
        background-color: transparent;
        color: var(--color-textBlack);
        @include mixins.border-radius(50px);
        @media only screen and (max-width: 767px) {
          font-weight: 400;
          line-height: 1.33;
          @include mixins.fontSize(15);
        }
        & .MuiFormControlLabel-label {
          font-weight: normal;
        }
        &:has(.Mui-checked) {
          background-color: var(--color-textBlack);
          border-color: var(--color-textBlack);
          color: var(--color-white);
        }
      }
      .MuiCheckbox-root {
        padding: 0;
        margin-right: mixins.rem(6);
        &:before {
          content: '';
          width: mixins.rem(7);
          height: mixins.rem(7);
          display: inline-block;
          border: mixins.rem(1) solid var(--color-textBlack);
          background-color: var(--color-marble);
          margin-top: mixins.rem(-1);
          @include mixins.border-radius(50%);
        }
        &.Mui-checked {
          &:before {
            background-color: var(--color-marble);
            border-color: transparent;
          }
        }
        &.Mui-disabled {
          color: var(--color-textBlack-60);
        }
        .MuiSvgIcon-root {
          display: none;
        }
      }
      .profile-builder__form-row {
        max-height: mixins.rem(262);
        overflow-y: auto;
      }
    }
    .step4-form {
      .form-checkbox-group {
        overflow-y: auto;
        max-height: mixins.rem(280);
      }
    }
  }
  &__close {
    button {
      min-width: auto;
      line-height: 0;
      // background-color: var(--color-textBlack);
      padding: mixins.rem(2);
      width: mixins.rem(30);
      height: mixins.rem(30);
      @include mixins.border-radius(50%);
      @include mixins.flex(center, center);
      @include mixins.absolute(top 10px right 15px);
      // &:hover {
      //   background-color: var(--color-textBlack);
      // }
      // svg {
      //   color: var(--color-marble);
      // }
      .MuiTouchRipple-root {
        display: none;
      }
    }
  }
  &__nationality {
    .MuiAutocomplete-inputRoot {
      padding: 0 !important;
      input[type='text'] {
        height: auto;
        padding: mixins.rem(13) 1.25rem 0.9375rem 1.5rem;
        padding-right: 2rem;
      }
    }
  }
  &__pets {
    .step1-form & {
      justify-content: flex-start;
      label {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
