/*
* Signup Form style.
*/

@import '../../styles/mixins';

.signup {
  &__item {
    &:has(.verify-btn) {
      .MuiFormControl-root {
        margin-bottom: 0;
      }
    }
  }
  &__page {
    min-height: 100vh;
    padding: rem(16);
    width: 100%;
    flex-direction: column;
    @include flex(center, center);
    &-inner {
      width: 100%;
      max-width: 350px;
      margin: rem(33) 0;
      flex-direction: column;
      @include flex;
      h2 {
        font-weight: 500;
        line-height: 1.07;
        letter-spacing: -0.03em;
        margin-bottom: rem(20);
        color: var(--color-white);
        @include fontSize(24);
      }
      > p {
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: -0.01em;
        margin-bottom: rem(32);
        color: var(--color-textBlack-40);
        @include fontSize(14);
      }
      .verify-button {
        position: relative;
        text-align: right;
        margin-bottom: rem(16);
        margin-top: 4px;
        &:has(.submit-btn) {
          flex-wrap: wrap;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0;
        }
        .MuiFormControl-root {
          max-width: 100%;
          &:has(.Mui-error) {
            margin-bottom: rem(16);
          }
        }
        .submit-btn {
          background-color: transparent;
          padding: 0;
          margin: 0;
          color: var(--color-white);
          border: none;
          font-weight: 400;
          line-height: 1.27;
          font-size: 0.6875rem;
          position: absolute;
          top: 60px;
          &:hover {
            border: none;
          }
        }
        .resend-btn {
          background-color: transparent;
          padding: 0;
          margin: 0;
          color: var(--color-white);
          border: none;
          font-weight: 400;
          line-height: 1.27;
          font-size: 0.6875rem;
          margin-top: -44px;
          &:hover {
            border: none;
          }
        }
        .verify-btn {
          background-color: transparent;
          padding: 0;
          margin: 0;
          color: var(--color-white);
          border: none;
          font-weight: 400;
          line-height: 1.27;
          font-size: 0.6875rem;
          &:hover {
            border: none;
          }
        }
        &:has(.input-text) {
          margin-bottom: 0rem;
        }
        .input-text {
          justify-content: flex-end;
        }
      }
    }
    h2,
    p {
      &:not(.Mui-error) {
        text-align: center;
      }
    }
  }
  &-form {
    width: 100%;
    flex-direction: column;
    margin-top: auto;
    @include flex;
  }
}
