/*
* Address page style.
*/

@use '../../../styles/mixins';

.address {
  &-page {
    margin: mixins.rem(23) 0;
    @media only screen and (min-width: 768px) {
      margin: mixins.rem(50) 0;
    }
    &__head {
      margin-bottom: mixins.rem(28);
      @include mixins.relative;
      h1 {
        margin: 0;
        padding: mixins.rem(7.5) 0;
        @media only screen and (max-width: 767px) {
          padding: mixins.rem(5) 0;
        }
      }
      a {
        line-height: 1.33;
        letter-spacing: -0.01em;
        padding: mixins.rem(7) mixins.rem(14);
        @include mixins.fontSize(16);
        @include mixins.absolute(right 0 top 4px);
        @media only screen and (max-width: 767px) {
          @include mixins.fontSize(12);
        }
        svg {
          display: inline-block;
          width: mixins.rem(20);
          height: mixins.rem(20);
          vertical-align: bottom;
          @media only screen and (max-width: 767px) {
            width: mixins.rem(18);
            height: mixins.rem(18);
          }
        }
      }
      button {
        @include mixins.absolute(right 0 top 0);
        @media only screen and (max-width: 767px) {
          padding: mixins.rem(1.1) mixins.rem(12.2);
          line-height: 1.66;
          @include mixins.fontSize(12);
          svg {
            width: mixins.rem(16);
            height: mixins.rem(16);
          }
        }
        &.button-arrow {
          padding: 0;
          margin: 0;
          width: auto;
          min-width: auto;
          right: auto;
          @include mixins.absolute(left 0 top 11px);
          button {
            position: static;
          }
        }
      }
    }
    h2 {
      @media only screen and (max-width: 767px) {
        margin-bottom: mixins.rem(6);
        line-height: 1.38;
        letter-spacing: -0.02em;
        @include mixins.fontSize(13);
      }
    }
    p {
      color: var(--color-textBlack-80);
      @media only screen and (max-width: 767px) {
        line-height: 1.33;
        letter-spacing: -0.01em;
        @include mixins.fontSize(12);
      }
    }
    button {
      @media only screen and (min-width: 768px) {
        max-width: mixins.rem(200);
        float: right;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: auto 28px;
    gap: mixins.rem(20);
    padding: mixins.rem(16) 0;
    border-top: mixins.rem(1) solid var(--color-textBlack-10);
    align-items: center;
    &:last-of-type {
      border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
      margin-bottom: mixins.rem(20);
    }
    .MuiCheckbox-root {
      justify-content: flex-end;
      padding: 0;
      border-radius: 0;
      svg {
        width: mixins.rem(27);
        height: mixins.rem(27);
        fill: var(--color-textBlack-20);
      }
      &.Mui-checked {
        svg {
          fill: var(--color-textBlack);
        }
      }
    }
    &-action {
      button {
        width: 100%;
        @media only screen and (min-width: 768px) {
          width: auto;
          max-width: mixins.rem(200);
          float: right;
        }
      }
    }
  }
}
