/*
* Login Form style.
*/

@use '../../styles/mixins';

.forgot-password-form {
  width: 100%;
  max-width: mixins.rem(350);
  margin-bottom: mixins.rem(33);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  .MuiFormControl-root {
    margin-bottom: mixins.rem(15);
  }
  .button--white {
    margin-top: mixins.rem(17);
    margin-bottom: mixins.rem(7);
  }
  @include mixins.fontSize(13);
}
