@use '../../../styles/mixins';

.user-inbox {
  // margin: mixins.rem(30) 0 mixins.rem(120);
  // @media only screen and (min-width: 768px) {
  //   margin: mixins.rem(50) 0;
  // }
  .page-title {
    padding: 0 0 mixins.rem(27);
    border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    @include mixins.relative;
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include mixins.fontSize(14);
    }
    a {
      @include mixins.absolute(left 0);
    }
  }
  .MuiTypography-body1 {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      line-height: 1.33;
      letter-spacing: -0.01em;
      @include mixins.fontSize(12);
    }
  }
}

.page-title {
  padding: mixins.rem(27) 0;
  border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
  @include mixins.relative;
  @media only screen and (max-width: 767px) {
    line-height: 1.07;
    letter-spacing: -0.03em;
    @include mixins.fontSize(14);
  }
  a {
    @include mixins.absolute(left 0);
  }
}
.MuiTypography-body1 {
  color: var(--color-textBlack-80);
  @media only screen and (max-width: 767px) {
    line-height: 1.33;
    letter-spacing: -0.01em;
    @include mixins.fontSize(12);
  }
}

.inbox {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    max-width: 100%;
    background-color: #fffff7;
    border-bottom: 1px solid #e0e0e0;
    img {
      width: auto;
      max-width: unset;
      max-height: mixins.rem(54);
    }
    h6 {
      margin-bottom: 0;
      @include mixins.fontSize(16);
      line-height: mixins.rem(18.56);
      @media screen and (min-width: 900px) {
        @include mixins.fontSize(30);
        line-height: 1;
      }
    }
    svg {
      fill: #1b1b1b;
    }
  }
  &_content {
    margin-top: mixins.rem(20);

    h6 {
      margin-bottom: mixins.rem(6);
      @include mixins.fontSize(16);
      line-height: mixins.rem(18.56);
      @media screen and (min-width: 900px) {
        @include mixins.fontSize(30);
        line-height: 1;
      }
    }
    p {
      @media screen and (max-width: 899px) {
        @include mixins.fontSize(14);
        line-height: mixins.rem(20);
      }
      &:not(:last-child) {
        margin-bottom: mixins.rem(20);
      }
    }
  }
  &__date {
    body & {
      margin-bottom: mixins.rem(16);
      line-height: mixins.rem(16);
      @include mixins.fontSize(10);
      @media screen and (min-width: 900px) {
        @include mixins.fontSize(14);
      }
    }
  }
}
