/*
* Home style.
*/

@use '../../styles/mixins';

main.product-detail {
  margin: mixins.rem(30) 0 mixins.rem(120);
  @media only screen and (min-width: 768px) {
    margin: mixins.rem(50) 0;
  }
  .page-title {
    padding: 0 0 mixins.rem(27);
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include mixins.fontSize(14);
    }
  }
  .request-button {
    margin-bottom: mixins.rem(26);
    text-align: center;
  }
  // button {
  //   @media only screen and (max-width: 767px) {
  //     width: 100%;
  //   }
  // }
}
div.product-detail {
  &__content {
    padding: mixins.rem(20) 0;
    p {
      color: var(--color-textBlack-80);
      @media only screen and (max-width: 767px) {
        line-height: 1.54;
        letter-spacing: -0.01em;
        @include mixins.fontSize(13);
      }
    }
    h2 {
      margin-bottom: mixins.rem(10);
      @media only screen and (max-width: 767px) {
        line-height: 1.16;
        letter-spacing: -0.02em;
        @include mixins.fontSize(20);
      }
    }
    h3 {
      @media only screen and (max-width: 767px) {
        margin-bottom: mixins.rem(8);
        font-weight: 500;
        line-height: 1.07;
        letter-spacing: -0.03em;
        @include mixins.fontSize(16);
      }
    }
  }
  .page-title {
    @include mixins.relative();
    svg {
      @include mixins.absolute(left 0);
    }
  }
  &__item {
    position: relative;
    height: 485px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 transparent;
    @include mixins.border-radius(8px);
    .MuiChip-filled {
      background: var(--color-white);
      @include mixins.absolute(left 12px top 12px);
    }
    .brand-logo {
      width: mixins.rem(64);
      height: mixins.rem(64);
      margin: mixins.rem(12);
      @include mixins.flex(center, center);
      img {
        height: auto !important;
        max-width: 100%;
        position: static !important;
      }
    }
  }
}

.MuiInputBase-root {
  padding: 0;
  &::before,
  &::after {
    display: none;
  }
  textarea {
    padding: mixins.rem(16);
    height: mixins.rem(188) !important;
    font-weight: 400;
    line-height: 1.142;
    @include mixins.border-radius(10px);
    @include mixins.fontSize(14);
  }
}
