/*
* Address page style.
*/

@use '../../../styles/mixins';

.user-inbox {
  margin: mixins.rem(30) 0 mixins.rem(120);
  @media only screen and (min-width: 768px) {
    margin: mixins.rem(50) 0;
  }
  .page-title {
    padding: 0 0 mixins.rem(50);
    border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    @include mixins.relative;
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include mixins.fontSize(14);
    }
    svg {
      @include mixins.absolute(left 0);
    }
  }
  .MuiTypography-body1 {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      line-height: 1.33;
      letter-spacing: -0.01em;
      @include mixins.fontSize(12);
    }
  }
}

.order-product {
  &__items {
    margin-bottom: mixins.rem(32);
  }
  &__item {
    padding: mixins.rem(16) 0;
    gap: mixins.rem(20);
    &:last-of-type {
      margin-bottom: mixins.rem(20);
    }
    &:last-child {
      border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    }
    .order-details-page & {
      border-top: mixins.rem(1) solid var(--color-textBlack-10);
    }
    svg {
      align-self: center;
      justify-self: flex-end;
      width: mixins.rem(28);
      height: mixins.rem(28);
    }
    h2 {
      @media only screen and (max-width: 767px) {
        margin-bottom: mixins.rem(6);
        line-height: 1.38;
        letter-spacing: -0.02em;
        @include mixins.fontSize(13);
      }
    }
    img {
      border-radius: mixins.rem(4);
      flex: 1 0 mixins.rem(110);
      max-width: mixins.rem(110);
      object-fit: cover;
      @media only screen and (max-width: 767px) {
        flex: 1 0 mixins.rem(54);
        max-width: mixins.rem(54);
        height: mixins.rem(54);
      }
    }
  }
}

.feedback-form {
  h2 {
    @media only screen and (max-width: 767px) {
      line-height: 1.16;
      letter-spacing: -0.02em;
      @include mixins.fontSize(16);
    }
  }
  .MuiTypography-body1 {
    font-weight: 500;
    @media only screen and (max-width: 767px) {
      line-height: 1.54;
      @include mixins.fontSize(13);
    }
  }
  &__uploader {
    height: mixins.rem(149);
    padding: mixins.rem(9) mixins.rem(16) mixins.rem(11) mixins.rem(20);
    border: mixins.rem(1) solid var(--color-textBlack);
    @include mixins.border-radius(10px);
    @include mixins.flex(center, center);
  }
  .button {
    padding-top: mixins.rem(9);
    padding-bottom: mixins.rem(9);
  }
}

//message
.message {
  &__item {
    img {
      width: auto;
      max-width: unset;
      max-height: mixins.rem(32);
    }
    h6 {
      margin-top: mixins.rem(10);
      margin-bottom: mixins.rem(6);
      line-height: mixins.rem(15.08);
      @include mixins.fontSize(13);
      @media only screen and (min-width: 900px) {
        line-height: mixins.rem(31);
        @include mixins.fontSize(30);
      }
    }
  }
}
