/* terms and condition page styles */

@use '../../styles/mixins';

.terms {
  &-page {
    h1 {
      margin-bottom: mixins.rem(56);
    }
  }
  &-content {
    max-width: mixins.rem(628);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: mixins.rem(80);
    p {
      color: rgba(255, 255, 247, 0.7);
    }
  }
}
