@use 'reboot';
@use 'mixins';
@use 'typography';

:root {
  --color-white: #ffffff;
  --color-marble: #fffff7;
  --color-black: #000000;
  --color-light-gray: #e1e1e1;
  --color-gray: #d9d9d9;
  --color-gray-99: #999999;
  --color-gray-40: #f5f5e8;
  --color-textBlack: rgb(27, 27, 27);
  --color-textBlack-10: #ebebe3;
  --color-textBlack-20: #d1d1cb;
  --color-textBlack-40: #a4a49f;
  --color-textBlack-60: #767673;
  --color-textBlack-80: rgba(27, 27, 27, 0.8);
  --color-red: #de4b23;
  --color-darkgray: #1b1b1b;
  --color-very-darkgray: #111111;
  --font-family: 'Graphik', serif;
}

body {
  line-height: 1.4;
  font-family: var(--font-family);
  color: var(--color-textBlack);
  background-color: var(--color-marble);
}

h1,
.h1 {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.05em;
  @include mixins.fontSize(70);
}

h2,
.h2 {
  font-weight: 500;
  line-height: 1.06;
  letter-spacing: -0.03em;
  @include mixins.fontSize(30);
}
strong {
  font-weight: 500;
}

a,
button {
  font-family: var(--font-family);
  color: var(--color-textBlack);
  &[disable],
  &.Mui-disabled.MuiButtonBase-root {
    opacity: 0.3;
    color: var(--color-white);
    pointer-events: none;
    background-color: var(--color-textBlack);
  }
  &:focus {
    outline: 0 none;
  }
}
img {
  max-width: 100%;
}
button.MuiButton-root {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}
a.button,
button.button {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  box-shadow: none;
  padding: mixins.rem(9) mixins.rem(24);
  border: mixins.rem(1.5) solid var(--color-textBlack);
  text-decoration: none;
  text-transform: none;
  @include mixins.border-radius(38px);
  @include mixins.fontSize(16);
  &:hover {
    box-shadow: none;
    @media only screen and (min-width: 768px) {
      color: var(--color-textBlack);
      background-color: var(--color-marble);
    }
  }
  + .button {
    margin-top: mixins.rem(15);
  }
  &--black {
    background-color: var(--color-textBlack);
    color: var(--color-white);
    &:active {
      background-color: var(--color-textBlack);
      color: var(--color-white);
    }
    &:hover {
      @media only screen and (min-width: 768px) {
        background-color: var(--color-marble);
        color: var(--color-textBlack);
      }
    }
  }
  &--white {
    color: var(--color-textBlack);
    background-color: var(--color-marble);
    &:active {
      color: var(--color-textBlack);
      background-color: var(--color-marble);
    }
    &:hover {
      @media only screen and (min-width: 768px) {
        background-color: var(--color-textBlack);
        color: var(--color-marble);
      }
    }
  }
  &--link {
    border: 0 none;
    &:hover {
      @media only screen and (min-width: 768px) {
        color: var(--color-textBlack);
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
  &--border {
    background-color: transparent;
    border-color: var(--color-white);
    &:hover {
      background-color: var(--color-white);
      color: var(--color-textBlack);
    }
  }
  &--red {
    border-color: var(--color-red);
    &:hover {
      background-color: var(--color-red);
      color: var(--color-marble);
    }
  }
}

.page-title {
  margin-bottom: mixins.rem(28);
  @media only screen and (max-width: 767px) {
    line-height: 1.07;
    letter-spacing: -0.03em;
    padding-left: mixins.rem(30);
    @include mixins.fontSize(14);
  }
}

.login__page {
  min-height: 100vh;
  padding: mixins.rem(16);
  width: 100%;
  flex-direction: column;
  @include mixins.flex(center, center);
  &-logo {
    max-width: mixins.rem(184);
    width: 100%;
    @include mixins.relative;
    @media only screen and (min-width: 992px) {
      max-width: mixins.rem(300);
    }
  }
  input[type='text']::selection {
    background: #000000;
    color: #ffffff;
  }
}

form {
  .MuiFormControl-root,
  .MuiFormGroup-root {
    margin-bottom: mixins.rem(32);
    width: 100%;
    .site-dialog & {
      margin-bottom: mixins.rem(16);
    }
  }
  input.MuiInputBase-input,
  .MuiSelect-select,
  fieldset.MuiOutlinedInput-notchedOutline {
    box-sizing: border-box;
    padding: mixins.rem(8.8) mixins.rem(20) mixins.rem(15) mixins.rem(24);
    height: mixins.rem(53);
    font-weight: 400;
    line-height: 1.42;
    border-radius: mixins.rem(37.5) !important;
    border-color: var(--color-textBlack);
    @include mixins.fontSize(15);
    .site-dialog & {
      padding: mixins.rem(15) mixins.rem(20) mixins.rem(15) mixins.rem(24);
      height: auto;
    }
  }
  input {
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 mixins.rem(38) transparent !important;
      -webkit-text-fill-color: var(--color-textBlack) !important;
      -webkit-background-clip: text !important;
      background-clip: text !important;
      @include mixins.border-radius(38px);
    }
  }
  .MuiSelect-select {
    padding-top: mixins.rem(13);
  }
  label.MuiFormLabel-root {
    left: mixins.rem(15.6);
    font-weight: 400;
    line-height: 1.42;
    top: mixins.rem(2);
    @include mixins.fontSize(14);
    &:not(.MuiInputLabel-shrink) {
      top: 0;
      left: mixins.rem(10);
      line-height: 1rem;
      margin-bottom: mixins.rem(8);
    }
  }
  .MuiBox-root {
    @include mixins.relative;
  }
  .input-text {
    padding: 0 mixins.rem(14);
    margin-top: mixins.rem(4);
    width: 100%;
    @include mixins.flex(space-between, center);
    @include mixins.absolute(bottom 14px left 0);
    p {
      color: var(--color-textBlack-60);
      font-weight: 400;
      line-height: 1.27;
      @include mixins.fontSize(11);
    }
  }
  .input-helper {
    padding: 0 mixins.rem(14);
    margin-top: mixins.rem(4);
    width: 100%;
    @include mixins.flex(space-between, center);
    @include mixins.absolute(bottom 127px left 0);
    p {
      color: var(--color-textBlack-60);
      font-weight: 400;
      line-height: 1.27;
      @include mixins.fontSize(11);
    }
  }
  .date-picker {
    button {
      .site-dialog & {
        margin-top: 0;
      }
      margin-top: mixins.rem(-5);
      margin-right: 0;
      outline: 0 none;
    }
  }
  .form-checkbox-group {
    margin-bottom: mixins.rem(16);
    overflow-y: auto;
    max-height: mixins.rem(350);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    label {
      margin: 0 0 mixins.rem(10);
      font-weight: 400;
      line-height: 1.38;
      @include mixins.fontSize(13);
      input {
        border: 0px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0px;
        white-space: nowrap;
        width: 1px;
        appearance: none;
        @include mixins.absolute;
        &:checked {
          + span {
            &:before {
              border-color: var(--color-textBlack);
              background-color: var(--color-textBlack);
            }
          }
        }
      }
    }
    span {
      display: block;
      padding-left: mixins.rem(32);
      padding-right: mixins.rem(6);
      @include mixins.relative;
      &:before {
        content: '';
        border: mixins.rem(1) solid var(--color-textBlack-20);
        width: mixins.rem(20);
        height: mixins.rem(20);
        display: block;
        @include mixins.absolute(left 0 top 2px);
      }
      &:after {
        content: '';
        border-bottom: 2px solid var(--color-white);
        border-right: 2px solid var(--color-white);
        width: mixins.rem(8);
        height: mixins.rem(14);
        display: block;
        transform: rotate(45deg);
        @include mixins.absolute(top 3px left 6px);
      }
    }
    &.Mui-checked {
      svg {
        fill: var(--color-textBlack);
      }
    }
  }
  .Mui-error {
    color: var(--color-red);
    input.MuiInputBase-input,
    .MuiSelect-select,
    fieldset.MuiOutlinedInput-notchedOutline {
      border-color: var(--color-red) !important;
    }
    svg {
      fill: var(--color-red);
    }
  }
  &.login-form,
  &.signup-form,
  &.forgot-password-form,
  &.gray-card__form {
    .MuiOutlinedInput-root {
      &.Mui-focused,
      &:hover {
        fieldset.MuiOutlinedInput-notchedOutline {
          border-color: var(--color-white);
        }
      }
    }
    input.MuiInputBase-input,
    textarea.MuiInputBase-input,
    .MuiSelect-select,
    fieldset.MuiOutlinedInput-notchedOutline {
      box-sizing: border-box;
      @include mixins.flex(auto, center);
    }
    input.MuiInputBase-input,
    textarea.MuiInputBase-input,
    .MuiSelect-select {
      color: var(--color-white);
    }
    .MuiSelect-nativeInput {
      + svg {
        fill: var(--color-white);
      }
    }
    input {
      &:-webkit-autofill {
        -webkit-text-fill-color: var(--color-white) !important;
      }
    }
    fieldset.MuiOutlinedInput-notchedOutline {
      font-family: var(--font-family);
      font-weight: 400;
      line-height: 1.14;
      border: mixins.rem(1) solid #494947;
      top: mixins.rem(-4);
      @include mixins.border-radius(38px);
      @include mixins.fontSize(14);
    }
    .button--white {
      background-color: var(--color-white);
      color: var(--color-textBlack);
      font-family: var(--font-family);
      font-weight: 500;
      line-height: 1.25;
      text-transform: none;
      margin-top: mixins.rem(8);
      @include mixins.fontSize(16);
      &:hover {
        @media only screen and (min-width: 768px) {
          background-color: var(--color-textBlack);
          color: var(--color-white);
          border-color: var(--color-white);
        }
      }
    }
    p {
      color: var(--color-white);
    }
    label {
      &.MuiInputLabel-root {
        color: var(--color-white);
      }
    }
  }
}

div.site-dialog {
  .MuiDialog-paper {
    width: 100%;
    margin: 0;
    background-color: var(--color-marble);
    @include mixins.border-radius(20px 20px 0 0);
    @media only screen and (min-width: 768px) {
      @include mixins.border-radius(20px);
    }
    > div {
      width: 100%;
    }
  }
  &__inner {
    padding: mixins.rem(24) mixins.rem(20);
  }
  &__image {
    width: mixins.rem(300);
    height: mixins.rem(80);
    margin: 0 auto mixins.rem(10);
    @include mixins.relative;
  }
  &__content {
    padding: 0;
    .form-label {
      margin-bottom: mixins.rem(9);
      font-weight: 500;
      line-height: 1.54;
      @include mixins.fontSize(13);
    }
    p {
      &:not(.Mui-error) {
        line-height: 1.54;
        letter-spacing: -0.01em;
        margin-bottom: 0.5625rem;
        font-weight: 500;
        color: var(--color-textBlack);
        @include mixins.fontSize(16);
      }
      strong {
        font-weight: 500;
      }
      &:empty {
        margin: 0;
      }
    }
    label {
      margin-left: 0;
      margin-bottom: mixins.rem(16);
      input {
        margin-right: mixins.rem(9);
      }
    }
    .form-radioBtn {
      .MuiButtonBase-root {
        padding: 0;
        margin-right: mixins.rem(9);
      }
      .MuiRadioGroup-root {
        margin-bottom: mixins.rem(16) !important;
      }
      svg {
        width: mixins.rem(13);
        height: mixins.rem(13);
      }
    }
    .form-radioBtn,
    .form-checkbox {
      &:has(.field-error) {
        margin-bottom: mixins.rem(32);
        label {
          margin-bottom: 0;
        }
        .MuiRadioGroup-root {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  &__action {
    gap: mixins.rem(10);
    @include mixins.flex(space-between);
    button {
      margin: 0 !important;
      &.button--white {
        @media only screen and (max-width: 599px) {
          @include mixins.fontSize(15);
        }
      }
    }
  }
  button {
    width: 100%;
    margin-right: 0;
    &.button.button--black {
      margin-top: mixins.rem(32);
    }
  }
  form {
    .Mui-error {
      margin-left: 0 !important ;
    }
  }
  &.opportunity__form {
    .site-dialog__content {
      .site-dialog__title {
        @media only screen and (min-width: 768px) {
          @include mixins.fontSize(16);
        }
      }
    }
  }
}
.MuiDialog-container {
  @media only screen and (max-width: 767px) {
    align-items: flex-end !important;
  }
}
.MuiPaper-elevation.MuiPopover-paper {
  background-color: var(--color-marble) !important;
}

.light-separator {
  opacity: 20%;
}

main.product-detail {
  &.product-slides {
    .MuiContainer-root {
      max-width: 1318px;
    }
  }
}

.pl-129 {
  @media only screen and (min-width: 990px) {
    padding-left: mixins.rem(129) !important;
  }
}

section {
  @media only screen and (min-width: 900px) {
    margin-bottom: mixins.rem(96) !important;
  }
  &:has(+ section) {
    @media only screen and (min-width: 900px) {
      margin-bottom: mixins.rem(96) !important;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.field-error {
  margin-left: mixins.rem(14) !important;
  font-size: mixins.rem(12) !important;
  line-height: 1.66 !important;
}

.site-dialog__content {
  fieldset {
    legend {
      height: mixins.rem(11);
    }
  }
}

.w-100 {
  width: 100%;
}

.MuiDateTimePickerToolbar-timeDigitsContainer {
  align-items: center;
}

.age-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: mixins.rem(16);
  margin-top: mixins.rem(-30);
  @include mixins.flex($justify-content: space-between, $align-items: center);
  button {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-transform: capitalize;
  }
}

// @media screen and (max-width: 600px) {
//   input,
//   textarea,
//   select,
//   button {
//     font-size: 16px !important;
//   }
// }

// .MuiInput-underline:before,
// .MuiInput-underline:after,
// .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
//   backface-visibility: hidden;
//   transform-origin: 50% 50%;
//   -webkit-transform: translateZ(0); /* force GPU compositing */
// }

// input,
// textarea {
//   -webkit-text-size-adjust: 100%;
// }

// input,
// textarea,
// select,
// button {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
