/*
* Brand Place Section style.
*/

@use '../../styles/mixins';

.brand-section {
  margin-bottom: mixins.rem(50);
  @media screen and (min-width: 600px) {
    margin-bottom: mixins.rem(80);
  }
  @media only screen and (min-width: 992px) {
    margin-bottom: mixins.rem(87);
  }
  &__head {
    margin-bottom: mixins.rem(30);
    text-align: center;
    @media only screen and (min-width: 600px) {
      text-align: left;
    }
    h2 {
      line-height: 1.6;
      letter-spacing: -0.05em;
      margin-bottom: mixins.rem(19);
      text-transform: capitalize;
      @include mixins.fontSize(30);
      @media only screen and (min-width: 992px) {
        @include mixins.fontSize(40);
      }
    }
    p {
      font-weight: 400;
      line-height: 1.43;
      color: var(--color-textBlack);
      opacity: 0.7;
      margin-bottom: mixins.rem(18);
      @include mixins.fontSize(14);
      @media only screen and (min-width: 992px) {
        margin-bottom: mixins.rem(32);
        margin-right: mixins.rem(52);
      }
    }
  }
  &__content {
    text-align: center;
    @media only screen and (min-width: 992px) {
      padding: mixins.rem(8);
    }
    > .MuiGrid-root {
      overflow: hidden;
      @include mixins.border-radius(8px);
    }
  }
  &__item {
    &:not(:last-child) {
      > .MuiPaper-root {
        @media only screen and (min-width: 600px) {
          border-right: 1px solid rgba(#000000, 0.1);
        }
      }
    }
    > .MuiPaper-root {
      background-color: var(--color-gray-40);
      margin-bottom: mixins.rem(20);
      @include mixins.border-radius(8px);
      @media only screen and (min-width: 600px) {
        border-radius: 0;
        margin-bottom: 0;
      }
    }
    h3 {
      border-bottom: 1px solid rgba(#000000, 0.1);
    }
    h3,
    p {
      padding: mixins.rem(10) mixins.rem(12);
      line-height: 1.36;
      letter-spacing: -0.03em;
      margin: 0;
      @include mixins.fontSize(14);
      @include mixins.flex(center, center);
    }
    h3 {
      line-height: mixins.rem(20);
      min-height: mixins.rem(40);
    }
    p {
      margin-bottom: mixins.rem(24);
    }
  }
}
