/*
* Application status style.
*/

@import '../../styles/mixins';

.application__review {
  color: #fff;
  .onboarding__link {
    border-color: var(--color-marble);
  }
  h1 {
    margin-bottom: rem(16);
    text-align: center;
    @media only screen and (max-width: 767px) {
      line-height: rem(45);
      @include fontSize(41);
    }
  }
  &-content {
    margin-bottom: rem(91);
    text-align: center;
    h3 {
      line-height: rem(29.96);
      margin-bottom: rem(16);
      @include fontSize(28);
    }
    p {
      margin-bottom: rem(16);
      color: #a4a49f;
    }
  }
}
