/*
* Partner style.
*/

@use '../../styles/mixins';

.site-partner {
  overflow: hidden;
  margin-bottom: mixins.rem(40);
  @media only screen and (min-width: 768px) {
    margin-bottom: mixins.rem(107);
  }
  .slick-track {
    @include mixins.flex;
  }
  .site-partner__card {
    &-inner {
      background-color: #323231;
      padding: mixins.rem(10) mixins.rem(40);
      border: mixins.rem(1) solid #494947;
      min-height: mixins.rem(70);
      margin: 0 mixins.rem(6);
      @include mixins.border-radius(6px);
      @include mixins.flex(center, center);
      @include mixins.relative;
      img {
        position: unset !important;
      }
    }
  }
  h2 {
    text-align: center;
    margin-bottom: mixins.rem(30);
    @media only screen and (min-width: 768px) {
      margin-bottom: mixins.rem(83);
    }
  }
}
