/*
* Header style.
*/

@use '../../styles/mixins';

header.site-header {
  background-color: var(--color-marble);
  color: var(--color-textBlack);
  box-shadow: 0 0 0 transparent;
  border-bottom: mixins.rem(1) solid var(--color-light-gray);
  &:not(.site-header__logged) {
    .navbar-toggler {
      @media only screen and (min-width: 992px) {
        display: none;
      }
    }
  }
  .navbar-toggler {
    svg {
      cursor: pointer;
    }
    button {
      padding: 0;
      &:focus {
        outline: 0 none;
      }
    }
  }
}
.site-header {
  &__wrapper {
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: mixins.rem(1324);
  }
  &__navbar {
    display: none;
    @media only screen and (min-width: 992px) {
      display: block;
    }
    @media only screen and (min-width: 1200px) {
      @include mixins.align(false, true, absolute);
    }
    @media only screen and (max-width: 991px) {
      background-color: var(--color-marble);
      width: 100%;
      margin-top: mixins.rem(1);
      @include mixins.absolute(left 0 top 100%);
    }
    &.showMenu {
      display: block;
    }
    .login-link {
      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }
  &__navigation {
    @media only screen and (min-width: 992px) {
      @include mixins.flex;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      flex-wrap: wrap;
    }
    a {
      font-weight: 500;
      @include mixins.fontSize(16);
      @media only screen and (min-width: 992px) {
        @include mixins.fontSize(13);
      }
    }
  }
  &__user {
    padding: 0;
    min-height: mixins.rem(40);
    @include mixins.flex(center, center);
    a {
      line-height: 1.4;
      &.button--link {
        padding: 0;
        min-width: unset;
        margin-right: mixins.rem(24);
        @include mixins.fontSize(13);
        margin-left: mixins.rem(24);
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }
      &.button--white {
        margin-top: 0 !important;
        padding: mixins.rem(5) mixins.rem(14);
        line-height: 1.07;
        @include mixins.fontSize(11);
        @include mixins.relative;
        @media only screen and (min-width: 992px) {
          margin-left: mixins.rem(24);
          padding: mixins.rem(10) mixins.rem(14);
          min-width: mixins.rem(121);
          @include mixins.fontSize(14);
          &:after {
            content: '';
            width: mixins.rem(1);
            height: mixins.rem(40);
            background-color: var(--color-gray);
            display: inline-block;
            @include mixins.absolute(top 0 left -25px);
          }
        }
      }
    }
  }
  &__brand {
    @media only screen and (min-width: 992px) {
      min-width: mixins.rem(166);
    }
    img {
      height: auto;
      width: auto;
    }
    .white-logo {
      display: none;
    }
    @media only screen and (max-width: 991px) {
      @include mixins.align(true, true, absolute);
      a {
        max-width: mixins.rem(113);
        display: block;
        height: mixins.rem(16);
        width: auto;
        overflow: hidden;
      }
    }
  }
  &__logged {
    .navbar-toggler {
      margin-left: auto;
      line-height: 0;
      width: mixins.rem(20);
      height: mixins.rem(20);
      cursor: pointer;
      @include mixins.flex(center, center);
      @media only screen and (min-width: 768px) {
        width: mixins.rem(28);
        height: mixins.rem(20);
      }
      span,
      span::before,
      span::after {
        width: mixins.rem(15);
        height: mixins.rem(2);
        background-color: var(--color-textBlack);
        transition: 0.4s;
        display: block;
        @include mixins.relative;
        @media only screen and (min-width: 768px) {
          width: mixins.rem(28);
          height: mixins.rem(3);
        }
      }
      span {
        margin-top: mixins.rem(-11);
        @media only screen and (min-width: 768px) {
          margin-top: mixins.rem(-18);
        }
        &::before,
        &::after {
          content: '';
          @include mixins.absolute(right 0);
        }
        &::before {
          top: mixins.rem(5);
          @media only screen and (min-width: 768px) {
            top: mixins.rem(8);
          }
        }
        &::after {
          width: mixins.rem(11);
          top: mixins.rem(10);
          @media only screen and (min-width: 768px) {
            top: mixins.rem(16);
            width: mixins.rem(20);
          }
        }
      }
    }
    .site-header__navbar {
      @media only screen and (min-width: 992px) {
        @include mixins.align(false, true, absolute);
      }
    }
  }
}
.drawer-menu {
  > .MuiPaper-root {
    background-color: var(--color-marble);
  }
  &__wrapper {
    max-width: 100%;
    width: 100vw;
    @media only screen and (min-width: 768px) {
      width: mixins.rem(350);
    }
  }
  &__header {
    padding: mixins.rem(20);
    text-align: right;
    line-height: 0;
    border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    margin-bottom: mixins.rem(30);
    @include mixins.relative;
    svg {
      cursor: pointer;
      margin-left: auto;
    }
    .logo {
      @include mixins.align(true, true, absolute);
      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }
  &__list {
    padding: 0 mixins.rem(20);
    a {
      &:first-child {
        .drawer-menu__item {
          padding-top: 0;
        }
      }
    }
  }
  &__item {
    cursor: pointer;
    padding: mixins.rem(16) 0;
    border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    @include mixins.flex(space-between);
    > .MuiBox-root {
      flex: 1 0 auto;
      @include mixins.flex(flex-start, center);
      img {
        margin-right: mixins.rem(16);
      }
      p {
        @media only screen and (max-width: 767px) {
          line-height: 1.16;
          letter-spacing: -0.01em;
          @include mixins.fontSize(13);
        }
      }
    }
  }
}
