/*
* Header style.
*/

@import '../../styles/mixins';

header.site-header {
  background-color: var(--color-white);
  color: var(--color-textBlack);
  box-shadow: 0 0 0 transparent;
  border-bottom: rem(1) solid var(--color-light-gray);
  .navbar-toggler {
    @media only screen and (min-width: 992px) {
      display: none;
    }
    button {
      padding: 0;
    }
  }
}
.site-header {
  &__wrapper {
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: rem(1324);
  }
  &__navbar {
    display: none;
    @media only screen and (min-width: 992px) {
      display: block;
      @include align(false, true, absolute);
    }
    @media only screen and (max-width: 991px) {
      background-color: var(--color-white);
      width: 100%;
      margin-top: rem(1);
      @include absolute(left 0 top 100%);
    }
    &.showMenu {
      display: block;
    }
  }
  &__navigation {
    @media only screen and (min-width: 992px) {
      @include flex;
    }
    a {
      font-weight: 500;
      @include fontSize(16);
      @media only screen and (min-width: 992px) {
        @include fontSize(13);
      }
    }
  }
  &__user {
    padding: 0;
    min-height: rem(40);
    @include flex(center, center);
    a {
      line-height: 1.4;
      &.button--link {
        padding: 0;
        min-width: unset;
        margin-right: rem(24);
        @include fontSize(13);
        margin-left: rem(24);
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }
      &.button--white {
        margin-top: 0;
        padding: rem(5) rem(14);
        line-height: 1.07;
        @include fontSize(11);
        @include relative;
        @media only screen and (min-width: 992px) {
          margin-left: rem(24);
          padding: rem(10) rem(14);
          min-width: rem(121);
          @include fontSize(14);
          &:after {
            content: '';
            width: rem(1);
            height: rem(40);
            background-color: var(--color-gray);
            display: inline-block;
            @include absolute(top 0 left -25px);
          }
        }
      }
    }
  }
  &__brand {
    @media only screen and (max-width: 991px) {
      @include align(true, true, absolute);
      a {
        max-width: rem(113);
        display: block;
        height: rem(14);
        overflow: hidden;
      }
    }
  }
}
