/*
* Opportunity Container page style.
*/

@use '../../styles/mixins';

.filter-modal {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding: mixins.rem(32);
  overflow-y: auto;
  border-radius: mixins.rem(10);
  @include mixins.absolute(top 10% left 0);
  @media screen and (min-width: 768px) {
    width: 80%;
    max-height: 550px;
    max-width: mixins.rem(600);
    height: auto;
    transform: translate(-50%, -50%);
    @include mixins.absolute(top 50% left 50%);
  }
  &__close-btn,
  &__clear-btn {
    @include mixins.absolute(top 16px left 16px);
  }
  &__clear-btn {
    left: auto;
    right: mixins.rem(16);
    button {
      text-transform: capitalize;
      color: var(--color-textPrimary);
    }
  }
  &__loader {
    height: 100%;
    @include mixins.flex($justify-content: center, $align-items: center);
  }
  &__image-list {
    overflow: hidden;
    border-radius: mixins.rem(32);
    @include mixins.relative();
    img {
      margin: 0 auto;
    }
  }
  &__list-item {
    button {
      color: rgba(255, 255, 255, 0.54);
    }
  }
  &__circle-icon {
    color: var(--color-gray-99);
    font-size: mixins.rem(34) !important;
    @include mixins.absolute(top 8px right 12px);
  }
  &__list-icon {
    text-align: center;
    img {
      background: var(--color-white);
      padding: mixins.rem(4);
      border-radius: 50%;
      margin-left: mixins.rem(8);
      width: mixins.rem(24);
      height: mixins.rem(24);
    }
  }
}

.filter-button {
  @media screen and (max-width: 767px) {
    position: absolute !important;
    top: 10px;
    z-index: 99999;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
