/*
* Opportunity Container page style.
*/

@use '../../styles/mixins';

.filter-modal {
  width: 100%;
  height: calc(100% - 10%);
  background-color: var(--color-white);
  padding: mixins.rem(32);
  overflow-y: auto;
  border-radius: mixins.rem(10);
  @include mixins.absolute(top 10% left 0);
  @media screen and (min-width: 768px) {
    width: 80%;
    height: 100%;
    max-height: 550px;
    max-width: mixins.rem(600);
    height: auto;
    transform: translate(-50%, -50%);
    @include mixins.absolute(top 50% left 50%);
  }
  &__close-btn,
  &__clear-btn {
    @include mixins.absolute(top 16px left 16px);
  }
  &__clear-btn {
    left: auto;
    right: mixins.rem(16);
    button {
      text-transform: capitalize;
      color: var(--color-textPrimary);
    }
  }
  &__loader {
    height: 100%;
    @include mixins.flex($justify-content: center, $align-items: center);
  }
  &__image-list {
    overflow: hidden;
    border-radius: mixins.rem(8);
    @include mixins.relative();
    img {
      margin: 0 auto;
    }
  }
  &__list-icon {
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: mixins.rem(56);
    margin-right: mixins.rem(32);
    @media screen and (max-width: 767px) {
      margin-left: mixins.rem(32);
      margin-right: mixins.rem(20);
      font-size: mixins.rem(14);
    }
    img {
      background: var(--color-white);
      padding: mixins.rem(4);
      border-radius: 50%;
      margin: 0;
      margin-right: mixins.rem(8);
      width: mixins.rem(50);
      height: mixins.rem(50);
      vertical-align: middle;
      @media screen and (max-width: 767px) {
        width: mixins.rem(24);
        height: mixins.rem(24);
      }
    }
    span {
      word-break: break-word;
      white-space: pre-line;
      text-align: left;
      font-weight: 500;
      margin-right: 25px;
      @media screen and (max-width: 767px) {
        margin-right: 8px;
      }
    }
  }
}

.filter-button {
  @media screen and (max-width: 767px) {
    position: absolute !important;
    top: 10px;
    z-index: 99999;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
