/*
* Address page style.
*/

@use '../../styles/mixins';

.address {
  &-form {
    margin: mixins.rem(23) 0;
    margin-bottom: mixins.rem(100);
    @media only screen and (min-width: 768px) {
      margin: mixins.rem(50) 0;
    }
    &__head {
      margin-bottom: mixins.rem(28);
      @include mixins.relative;
      h1 {
        margin: 0;
        padding: mixins.rem(7.5) 0;
        @media only screen and (max-width: 767px) {
          padding: mixins.rem(5) 0;
        }
      }
    }
    form {
      max-width: mixins.rem(350);
      margin: 0 auto;
      .MuiFormControl-root {
        margin-bottom: 1rem;
      }
      .input-text {
        @include mixins.relative();
      }
    }
  }
}
