/*
* Home Footer style.
*/

@use '../../styles/mixins';

.footer-menu {
  padding: mixins.rem(13) mixins.rem(12);
  width: 100%;
  background-color: var(--color-marble);
  border-top: mixins.rem(1) solid var(--color-textBlack-10);
  transition:
    bottom 1s,
    opacity 1s;
  @include mixins.flex(space-around, center);
  @include mixins.fixed(left 0 bottom 0 z-index 1050);
  @media only screen and (min-width: 992px) {
    display: none;
  }
  &__icon {
    display: inline-block;
    @include mixins.relative;
    span {
      text-align: center;
      width: mixins.rem(14);
      height: mixins.rem(14);
      display: block;
      color: var(--color-marble);
      font-weight: 500;
      background-color: var(--color-red);
      @include mixins.border-radius(50%);
      @include mixins.absolute(top 0 right -5px);
      @include mixins.fontSize(10);
    }
  }
  a {
    text-align: center;
    span {
      display: block;
    }
  }
}

body {
  &:has(.footer-menu) {
    @media only screen and (max-width: 991.98px) {
      padding-bottom: 75px;
    }
  }
}
