/*
* Home style.
*/

@use '../../../styles/mixins';

.landing-page {
  .search-box {
    button {
      margin-top: 0;
    }
  }
  h2 {
    margin-bottom: mixins.rem(12);
    letter-spacing: -0.01em;
    @include mixins.fontSize(24);
    @media only screen and (max-width: 767px) {
      margin-bottom: mixins.rem(8);
      line-height: 1.2;
      @include mixins.fontSize(20);
    }
  }
  &__tabs {
    padding: mixins.rem(3);
    background-color: var(--color-textBlack-10);
    @include mixins.border-radius(6px);
    @media only screen and (max-width: 767px) {
      min-height: auto;
    }
    [aria-label='profile tabs'] {
      justify-content: space-between;
    }
    button {
      text-transform: capitalize;
      color: var(--color-textBlack);
      flex: 1 0 33.333%;
      max-width: 33.333%;
      font-weight: 500;
      line-height: 2;
      letter-spacing: -0.03em;
      min-height: auto;
      @include mixins.border-radius(4px);
      @media only screen and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: mixins.rem(2);
        @include mixins.fontSize(12);
      }
      &:focus {
        outline: 0 none;
      }
      &.Mui-selected {
        background-color: var(--color-textBlack);
        color: var(--color-white);
        + button {
          &::after {
            display: none !important;
          }
        }
      }
      &:not(.Mui-selected):not(:first-child) {
        &:after {
          content: '';
          width: mixins.rem(1);
          height: 50%;
          display: block;
          background: var(--color-textBlack-20);
          @include mixins.absolute(left 2px z-index 1);
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }
}

.gray-card {
  margin-bottom: mixins.rem(20);
  flex-wrap: wrap;
  .gray-card {
    &__item {
      background-color: #f0f0e5;
      flex: 1 0 0;
      box-shadow: 0 0 0 transparent;
      flex-basis: calc(50% - 20px);
      @include mixins.relative;
      @include mixins.border-radius(8px);
      h2 {
        margin-bottom: mixins.rem(16);
        @media only screen and (max-width: 767px) {
          margin-bottom: mixins.rem(6);
          line-height: 1.07;
          letter-spacing: -0.03em;
          @include mixins.fontSize(16);
        }
      }
      p {
        margin-bottom: mixins.rem(16);
        color: var(--color-textBlack-60);
        @media only screen and (max-width: 767px) {
          margin-bottom: mixins.rem(11);
          line-height: 1.45;
          letter-spacing: -0.03em;
          @include mixins.fontSize(11);
        }
      }
      svg {
        text-decoration: none;
        @include mixins.absolute(bottom 3px right 9px);
      }
      a {
        text-decoration: none;
        font-size: 0;
        width: 100%;
        height: 100%;
        @include mixins.absolute(top 0 left 0 z-index 1);
      }
    }
  }
}

.landing-product {
  margin-bottom: mixins.rem(20);
  @media only screen and (min-width: 768px) {
    margin-bottom: mixins.rem(40);
  }
  &__item {
    &-inner {
      position: relative;
      padding-top: 100%;
      background-size: cover;
      background-position: center;
      .MuiChip-filled {
        background: var(--color-white);
        @include mixins.absolute(left 12px top 12px);
      }
      .brand-logo {
        width: mixins.rem(64);
        height: mixins.rem(64);
        margin: mixins.rem(12);
        @include mixins.flex(center, center);
        img {
          height: auto !important;
          max-width: 100%;
          position: static !important;
        }
      }
    }
    &-content {
      padding: mixins.rem(12) !important;
      color: var(--color-marble);
      width: 100%;
      @include mixins.absolute(bottom 0 left 0);
      &::after {
        content: '';
        width: 100%;
        height: 115%;
        opacity: 0.3;
        background: linear-gradient(0deg, #1b1b1b 0%, rgba(27, 27, 27, 0) 100%);
        @include mixins.absolute(bottom 0 left 0 z-index 0);
        @media only screen and (min-width: 768px) {
          opacity: 0.5;
        }
      }
      * {
        @include mixins.relative(z-index 1);
      }
      p {
        @media only screen and (max-width: 767px) {
          @include mixins.fontSize(12);
        }
      }
      .event-separator {
        opacity: 20%;
      }
      .category-label {
        display: inline-block;
        padding: mixins.rem(6) mixins.rem(10);
        margin-bottom: mixins.rem(8);
        background-color: var(--color-marble);
        @include mixins.border-radius(3px);
        span {
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: 0.09em;
          text-transform: uppercase;
          @include mixins.fontSize(10);
          @media only screen and (max-width: 767px) {
            @include mixins.fontSize(8);
          }
        }
      }
    }
  }
}
