/*
* Product List style.
*/

@use '../../styles/mixins';

.product-list__page {
  margin-bottom: mixins.rem(80);
  .product-card {
    background-color: var(--color-marble);
    border: 0 none;
    box-shadow: 0 0 0 transparent;
    color: var(--color-textBlack-80);
    flex-direction: column;
    height: 100%;
    @include mixins.flex;
    @include mixins.relative;
    justify-content: space-between;
    img {
      height: auto;
      @include mixins.border-radius(4px);
      @media only screen and (min-width: 600px) {
        height: mixins.rem(462);
        object-fit: cover;
      }
    }
    &__content {
      padding: mixins.rem(12) 0 0;
      min-height: 130px;
      span {
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.09em;
        background-color: var(--color-marble);
        padding: mixins.rem(6) mixins.rem(10);
        text-transform: uppercase;
        @include mixins.border-radius(3px);
        @include mixins.absolute(top 8px left 8px);
        @include mixins.fontSize(8);
        @media only screen and (min-width: 768px) {
          top: mixins.rem(12);
          left: mixins.rem(12);
          @include mixins.fontSize(14);
        }
      }
    }
    button {
      box-shadow: none;
      margin-top: auto;
      @media only screen and (max-width: 767px) {
        padding: mixins.rem(6);
        @include mixins.fontSize(13);
      }
    }
  }
  h2 {
    margin-bottom: mixins.rem(20);
    @media only screen and (min-width: 768px) {
      margin-bottom: mixins.rem(32);
    }
  }
  h3 {
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.02em;
    margin-bottom: mixins.rem(10);
    @include mixins.fontSize(16);
    @media only screen and (min-width: 768px) {
      @include mixins.fontSize(24);
    }
  }
  p {
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: -0.01em;
    margin-bottom: mixins.rem(16);
    @include mixins.fontSize(11);
    @media only screen and (min-width: 768px) {
      @include mixins.fontSize(16);
    }
  }
}
