/*
* Header style.
*/

@use '../../styles/mixins';

.site-footer {
  background-color: var(--color-very-darkgray);
  color: var(--color-white);
  padding: mixins.rem(45) 0 mixins.rem(16);
  &__social-icons {
    h2 {
      margin-bottom: mixins.rem(32);
    }
    a {
      color: var(--color-white);
      padding: 0;
      &:not(:last-child) {
        margin-right: mixins.rem(17);
      }
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__nav {
    margin-bottom: mixins.rem(40);
    @media screen and (min-width: 900px) {
      margin-bottom: mixins.rem(94);
    }
    h6 {
      margin-bottom: mixins.rem(12);
      line-height: mixins.rem(20);
      letter-spacing: 1.44px;
      @include mixins.fontSize(12);
    }
    &-links {
      a {
        color: var(--color-white);
        opacity: 70%;
        margin-bottom: mixins.rem(12);
        display: block;
        line-height: mixins.rem(20);
        text-decoration: none;
        @include mixins.fontSize(13);
      }
    }
  }
  &__terms {
    border-top: mixins.rem(1) solid #333;
    padding-top: mixins.rem(16);
    span,
    a {
      opacity: 70%;
      line-height: mixins.rem(20);
      display: inline-block;
      @include mixins.fontSize(10);
    }
    a {
      &:not(:last-child) {
        margin-right: mixins.rem(16);
      }
    }
    &-content {
      @include mixins.flex($justify-content: space-between, $align-items: center);
    }
    &-links {
      @include mixins.flex($align-items: center);
      a {
        color: var(--color-white);
        text-decoration: underline;
      }
    }
  }
  &__img {
    @include mixins.flex();
    @media screen and (min-width: 900px) {
      justify-content: flex-end;
    }
    a {
      &:not(:last-child) {
        margin-right: mixins.rem(15);
      }
    }
  }
}
