/*
* Testimonial style.
*/

@import '../../styles/mixins';

.testimonial-section {
  margin-bottom: rem(40);
  @media only screen and (min-width: 992px) {
    margin-bottom: rem(85);
  }
  h2 {
    line-height: 1.6;
    letter-spacing: -0.05em;
    margin-bottom: rem(20);
    @include fontSize(30);
    @media only screen and (min-width: 992px) {
      margin-bottom: rem(40);
      line-height: rem(50);
      @include fontSize(40);
    }
  }
  &--dark {
    .site-testimonial {
      .site-testimonial {
        &__inner {
          padding-top: rem(44);
          padding-bottom: rem(47);
          .site-testimonial__body {
            &:not(:empty) {
              max-width: rem(838);
              margin: 0 auto;
              text-align: center;
              margin-bottom: rem(26);
              min-height: auto;
              color: var(--color-white);
            }
          }
        }
        &__user {
          flex-direction: column;
          .MuiAvatar-root {
            margin-bottom: rem(16);
          }
        }
        &__user-info {
          margin-left: 0;
          text-align: center;
        }
      }
    }
  }
}
