/*
* Testimonial style.
*/

@use '../../styles/mixins';

.testimonial-section {
  margin-bottom: mixins.rem(40);
  @media only screen and (min-width: 992px) {
    margin-bottom: mixins.rem(85);
  }
  h2 {
    line-height: 1.6;
    letter-spacing: -0.05em;
    margin-bottom: mixins.rem(20);
    @include mixins.fontSize(30);
    @media only screen and (min-width: 992px) {
      margin-bottom: mixins.rem(40);
      line-height: mixins.rem(60);
      @include mixins.fontSize(40);
    }
  }
}
