@use '../../styles/mixins';

.wishlist-card {
  &__items {
    margin-bottom: mixins.rem(32);
  }
  &__item {
    padding: mixins.rem(16) 0;
    gap: mixins.rem(20);
    border-bottom: mixins.rem(1) solid var(--color-textBlack-10);
    &:last-of-type {
      margin-bottom: mixins.rem(20);
    }
    .order-details-page & {
      border-top: mixins.rem(1) solid var(--color-textBlack-10);
    }
    svg {
      margin-left: auto;
      color: rgb(27, 27, 27);
      align-self: center;
      justify-self: flex-end;
      width: mixins.rem(28);
      height: mixins.rem(28);
    }
    h2 {
      @media only screen and (max-width: 767px) {
        margin-bottom: mixins.rem(6);
        line-height: 1.38;
        letter-spacing: -0.02em;
        @include mixins.fontSize(13);
      }
    }
    img {
      border-radius: mixins.rem(5);
      flex: 1 0 mixins.rem(110);
      max-width: mixins.rem(110);
      @media only screen and (max-width: 767px) {
        flex: 1 0 mixins.rem(54);
        max-width: mixins.rem(54);
      }
    }
  }
}
