/*
* Home style.
*/

@import '../../../styles/mixins';

main.product-detail {
  margin: rem(30) 0 rem(120);
  @media only screen and (min-width: 768px) {
    margin: rem(50) 0;
  }
  .page-title {
    padding: 0 0 rem(27);
    @media only screen and (max-width: 767px) {
      line-height: 1.07;
      letter-spacing: -0.03em;
      @include fontSize(14);
    }
  }
}
.product-detail {
  &__content {
    padding: rem(20) 0;
    @media only screen and (max-width: 767px) {
      line-height: 1.38;
      letter-spacing: -0.01em;
      @include fontSize(13);
    }
  }
  &__item {
    position: relative;
    height: 485px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 transparent;
    @include border-radius(8px);
    @include relative;
    &::before {
      content: '';
      background: linear-gradient(180deg, #1b1b1b -60.08%, rgba(27, 27, 27, 0) 95.25%);
      height: 95px;
      width: 100%;
      display: block;
      @include absolute(top 0 left 0);
    }
    * {
      @include relative;
    }
    .MuiChip-filled {
      background: var(--color-white);
      @include absolute(left 12px top 12px);
    }
    .brand-logo {
      width: rem(64);
      height: rem(64);
      margin: rem(12);
      @include flex(center, center);
      img {
        height: auto !important;
        max-width: 100%;
        position: static !important;
      }
    }
  }
  .request-button {
    margin-bottom: rem(26);
    text-align: center;
    button {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.gray-card {
  margin-bottom: rem(20);
  .gray-card {
    &__item {
      padding-top: rem(4);
      background-color: #f0f0e5;
      flex: 1 0 0;
      box-shadow: 0 0 0 transparent;
      @include relative;
      @include border-radius(8px);
      @media only screen and (min-width: 768px) {
        padding-bottom: 80px;
      }
      h2 {
        margin-bottom: rem(16);
        @media only screen and (max-width: 767px) {
          margin-bottom: rem(6);
          line-height: 1.07;
          letter-spacing: -0.03em;
          @include fontSize(16);
        }
      }
      p {
        margin-bottom: rem(16);
        color: var(--color-textBlack-60);
        @media only screen and (max-width: 767px) {
          margin-bottom: rem(11);
          line-height: 1.45;
          width: calc(100% - 35px);
          letter-spacing: -0.03em;
          @include fontSize(11);
        }
      }
      svg {
        text-decoration: none;
        @include absolute(bottom 9px right 9px);
      }
      a {
        text-decoration: none;
        font-size: 0;
        width: 100%;
        height: 100%;
        padding: rem(22) 0 rem(30) rem(16);
        @include absolute(top 0 left 0 z-index 1);
      }
    }
  }
}
