/*
* Testimonial style.
*/

@use '../../styles/mixins';

.site-testimonial {
  border: 1px solid var(--color-textBlack-20);
  @include mixins.border-radius(8px);
  .site-testimonial {
    &__inner {
      padding: mixins.rem(16) mixins.rem(24) mixins.rem(32);
      &:last-child {
        padding-bottom: mixins.rem(32);
      }
      p {
        line-height: 1.58;
        color: var(--color-textBlack-80);
        margin-bottom: mixins.rem(24);
        @include mixins.fontSize(14);
      }
      .MuiAvatar-root {
        width: mixins.rem(48);
        height: mixins.rem(48);
        @include mixins.border-radius(3px);
      }
    }
    &__body {
      min-height: mixins.rem(88);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    &__user {
      @include mixins.flex(flex-start, center);
      &-info {
        margin-left: mixins.rem(16);
        h3 {
          line-height: 1.5;
          letter-spacing: -0.03em;
          margin-bottom: mixins.rem(2);
          @include mixins.fontSize(16);
        }
        p {
          margin: 0;
          line-height: 1.58;
          color: var(--color-textBlack-60);
          letter-spacing: -0.03em;
          @include mixins.fontSize(14);
        }
      }
    }
  }
}
