/*
* Home style.
*/

@import '../../../styles/mixins';

main.product-detail {
  margin: rem(23) 0 rem(120);
  @media only screen and (min-width: 768px) {
    margin: rem(50) 0;
  }
  .page-title {
    padding: rem(23) 0;
  }
}
.product-detail {
  &__content {
    padding: rem(20) 0;
    @media only screen and (max-width: 767px) {
      line-height: 1.38;
      letter-spacing: -0.01em;
      @include fontSize(13);
    }
  }
  &__item {
    position: relative;
    height: 485px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 transparent;
    @include border-radius(8px);
    .MuiChip-filled {
      background: var(--color-white);
      @include absolute(left 12px top 12px);
    }
  }
  .request-button {
    margin-bottom: rem(26);
    text-align: center;
    button {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.gray-card {
  margin-bottom: rem(20);
  .gray-card {
    &__item {
      padding-top: rem(4);
      background-color: #f0f0e5;
      flex: 1 0 0;
      box-shadow: 0 0 0 transparent;
      @include relative;
      @include border-radius(8px);
      h2 {
        margin-bottom: rem(16);
        @media only screen and (max-width: 767px) {
          margin-bottom: rem(6);
          line-height: 1.07;
          letter-spacing: -0.03em;
          @include fontSize(16);
        }
      }
      p {
        margin-bottom: rem(16);
        color: var(--color-textBlack-60);
        @media only screen and (max-width: 767px) {
          margin-bottom: rem(11);
          line-height: 1.45;
          letter-spacing: -0.03em;
          @include fontSize(11);
        }
      }
      a {
        text-decoration: none;
        @include absolute(bottom 0 right 9px);
      }
    }
  }
}
