/*
* Opportunity style.
*/

@import '../../styles/mixins';

.site-opportunity {
  margin-bottom: rem(64);
  .site-opportunity__card {
    box-shadow: 0 0 0 transparent;
    &-inner {
      padding: rem(12) !important;
      background-color: #f0f0e5;
      @include border-radius(8px);
    }
  }
  h2 {
    text-align: center;
    margin-bottom: rem(32);
    @media only screen and (min-width: 768px) {
      margin-bottom: rem(56);
    }
  }
  p {
    margin-bottom: rem(8);
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.03em;
    &.MuiTypography-body2 {
      font-weight: 400;
      line-height: 1;
      margin-bottom: rem(2);
      @include fontSize(10);
    }
  }
}
