/*
* Profile Form style.
*/

@use '../../styles/mixins';
@use '../../styles/variables';

.profile-builder {
  &__page {
    background-color: var(--color-marble);
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    @include mixins.flex;
  }
  &__header {
    border-bottom: 1px solid rgba(variables.$black, 0.8);
    background-color: var(--color-marble);
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 99;
    img {
      max-width: mixins.rem(115);
      height: auto;
      width: auto;
      @media only screen and (min-width: 768px) {
        max-width: mixins.rem(260);
      }
    }
  }
  &__main {
    flex: 1;
    padding: 0 mixins.rem(15) mixins.rem(56);
    @include mixins.flex(center);
    @include mixins.relative;
  }
  &__wrapper {
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 82.75rem;
    .profile-builder__close {
      button {
        position: static;
      }
    }
  }
}
