/*
* Coming Soon Page style.
*/

@use '../../styles/mixins';

.coming-soon {
  &__page {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: mixins.rem(32);
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    h1 {
      color: var(--color-marble);
      text-align: center;
      font-weight: bold;
    }
  }
  &__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    // color: var(--color-light-gray);
    // letter-spacing: mixins.rem(1);
    // max-width: 600;
    // @include mixins.fontSize(26);
  }
  &__form {
    display: flex;
    gap: mixins.rem(30);
    margin-top: mixins.rem(48);
    width: 100%;
    max-width: mixins.rem(600);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
      white-space: nowrap;
      flex-shrink: 0;
      color: var(--color-black);
      border-radius: mixins.rem(38);
      padding: mixins.rem(10) mixins.rem(30);
      text-transform: none;
      height: mixins.rem(53);
      background-color: var(--color-marble);
      @media screen and (max-width: 600px) {
        min-width: mixins.rem(150);
        border-radius: mixins.rem(38);
      }
      &:hover {
        background-color: var(--color-marble);
      }
    }
  }
  &__wrapper {
    form & {
      margin-bottom: 0;
      background: var(--color-white);
      border-radius: mixins.rem(38);
      fieldset {
        padding-top: mixins.rem(15);
        border-color: var(--color-white);
        top: 0;
        border: 0;
      }
      input {
        padding-top: mixins.rem(15);
        background: var(--color-white);
        border-color: var(--color-white);
      }
      p {
        &.Mui-error {
          @include mixins.absolute(top 100%);
          margin-top: mixins.rem(10);
        }
      }
    }
  }
}
