/*
* Coming Soon Page style.
*/

@import '../../styles/mixins';

.coming-soon {
  &__page {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: rem(32);
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    h1 {
      color: var(--color-marble);
      text-align: center;
      font-weight: bold;
    }
  }
  &__desc {
    color: var(--color-light-gray);
    letter-spacing: rem(1);
    @include fontSize(26);
  }
  &__form {
    display: flex;
    gap: rem(30);
    margin-top: rem(48);
    width: 100%;
    max-width: rem(600);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
      white-space: nowrap;
      flex-shrink: 0;
      color: var(--color-black);
      border-radius: rem(38);
      padding: rem(10) rem(30);
      text-transform: none;
      height: rem(53);
      background-color: var(--color-marble);
      @media screen and (max-width: 600px) {
        min-width: rem(150);
        border-radius: rem(38);
      }
      &:hover {
        background-color: var(--color-marble);
      }
    }
  }
  &__wrapper {
    form & {
      margin-bottom: 0;
      background: var(--color-white);
      border-radius: rem(38);
      fieldset {
        padding-top: rem(15);
        border-color: var(--color-white);
        top: 0;
        border: 0;
      }
      input {
        padding-top: rem(15);
        background: var(--color-white);
        border-color: var(--color-white);
      }
      p {
        &.Mui-error {
          @include absolute(top 100%);
          margin-top: rem(10);
        }
      }
    }
  }
}
