/*
* Header style.
*/

@import '../../../../styles/mixins';

.product-details__page {
  margin: rem(28) 0 rem(80);
  @media only screen and (min-width: 768px) {
    margin: rem(50) 0;
  }
  img {
    height: auto;
    @include border-radius(8px);
  }
  h1 {
    margin-bottom: rem(28);
  }
  h2 {
    margin-bottom: rem(10);
    @media only screen and (max-width: 767px) {
      line-height: 1.16;
      letter-spacing: -0.02em;
      @include fontSize(20);
    }
  }
  p {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      margin-bottom: rem(16);
      line-height: 1.38;
      letter-spacing: -0.01em;
      @include fontSize(13);
    }
    &.MuiTypography-body2 {
      margin-bottom: rem(30);
      @media only screen and (max-width: 767px) {
        margin-bottom: rem(16);
      }
    }
  }
  .product-size {
    @media only screen and (min-width: 1200px) {
      padding-top: rem(6);
      overflow: hidden;
      @include flex;
      button {
        align-self: flex-start;
        flex: 1 0 0;
        max-width: 30%;
      }
    }
    .MuiFormControl-root {
      margin: 0 0 rem(16);
      @media only screen and (min-width: 1200px) {
        margin: 0;
        padding-right: rem(16);
        flex: 1 0 0;
        max-width: 60%;
      }
    }
    p {
      text-align: right;
    }
    label {
      &.MuiFormLabel-root {
        line-height: rem(16);
      }
    }
  }
  .page-title {
    padding-left: rem(30);
    @include relative();
    svg,
    a {
      transform: translateY(-50%);
      @include absolute(left 0 top 50%);
    }
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }
}

.MuiMenu-list .MuiMenuItem-root[data-value=''] {
  display: none;
}
