/*
* Header style.
*/

@use '../../../../styles/mixins';

.product-details__page {
  margin: mixins.rem(28) 0 mixins.rem(80);
  @media only screen and (min-width: 768px) {
    margin: mixins.rem(50) 0;
  }
  img {
    height: auto;
    @include mixins.border-radius(8px);
  }
  h1 {
    margin-bottom: mixins.rem(28);
  }
  h2 {
    margin-bottom: mixins.rem(10);
    @media only screen and (max-width: 767px) {
      line-height: 1.16;
      letter-spacing: -0.02em;
      @include mixins.fontSize(20);
    }
  }
  .request-button {
    margin-bottom: mixins.rem(26);
    text-align: center;
  }
  button {
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  p {
    @media only screen and (max-width: 767px) {
      margin-bottom: mixins.rem(16);
      line-height: 1.38;
      letter-spacing: -0.01em;
      @include mixins.fontSize(13);
    }
    &.MuiTypography-body2 {
      margin-bottom: mixins.rem(30);
      @media only screen and (max-width: 767px) {
        margin-bottom: mixins.rem(16);
      }
    }
    &.highlight-text {
      margin: 0;
    }
    &:not(.mui-yl23kv-MuiTypography-root, .Mui-error) {
      color: var(--color-textBlack-80);
    }
  }
  .product-size {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: mixins.rem(32);
    @media only screen and (min-width: 1200px) {
      padding-top: mixins.rem(6);
      overflow: hidden;
      @include mixins.flex;
      button {
        align-self: left;
        flex: 1 0 0;
      }
    }
    > .MuiBox-root {
      width: 100%;
    }
    .MuiFormControl-root {
      margin: 0 0 mixins.rem(16);
      @media only screen and (min-width: 1200px) {
        margin: 0;
        // padding-right: mixins.rem(16);
        flex: 1 0 0;
      }
    }
    // p {
    //   text-align: right;
    // }
    label {
      &.MuiFormLabel-root {
        line-height: mixins.rem(16);
      }
    }
    &__select {
      margin-bottom: mixins.rem(22);
    }
    &--request {
      flex-direction: column;
    }
  }
  .page-title {
    padding-left: mixins.rem(30);
    @include mixins.relative();
    svg,
    a {
      transform: translateY(-50%);
      @include mixins.absolute(left 0 top 50%);
    }
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .slick-dots {
    max-width: mixins.rem(500);
  }
}

.MuiMenu-list .MuiMenuItem-root[data-value=''] {
  display: none;
}

.gray-card {
  margin-bottom: mixins.rem(20);
  flex-wrap: wrap;
  .gray-card {
    &__item {
      background-color: #f0f0e5;
      flex: 1 0 0;
      box-shadow: 0 0 0 transparent;
      flex-basis: calc(50% - 20px);
      @include mixins.relative;
      @include mixins.border-radius(8px);
      h2 {
        margin-bottom: mixins.rem(16);
        @media only screen and (max-width: 767px) {
          margin-bottom: mixins.rem(6);
          line-height: 1.07;
          letter-spacing: -0.03em;
          @include mixins.fontSize(16);
        }
      }
      p {
        margin-bottom: mixins.rem(16);
        color: var(--color-textBlack-60);
        @media only screen and (max-width: 767px) {
          margin-bottom: mixins.rem(11);
          line-height: 1.45;
          letter-spacing: -0.03em;
          @include mixins.fontSize(11);
        }
      }
      svg {
        text-decoration: none;
        @include mixins.absolute(bottom 3px right 9px);
      }
      a {
        text-decoration: none;
        font-size: 0;
        width: 100%;
        height: 100%;
        @include mixins.absolute(top 0 left 0 z-index 1);
      }
      .MuiCardContent-root {
        padding: mixins.rem(16) mixins.rem(16) mixins.rem(24);
      }
    }
  }
}

.MuiInputBase-root {
  padding: 0;
  &::before,
  &::after {
    display: none;
  }
  textarea {
    padding: mixins.rem(16);
    height: mixins.rem(188) !important;
    font-weight: 400;
    line-height: 1.142;
    @include mixins.border-radius(10px);
    @include mixins.fontSize(14);
  }
}
