/*
* Header style.
*/

@import '../../../../styles/mixins';

.product-details__page {
  margin: rem(28) 0 rem(80);
  @media only screen and (min-width: 768px) {
    margin: rem(72) 0;
  }
  img {
    height: auto;
  }
  h1 {
    margin-bottom: rem(28);
  }
  h2 {
    margin-bottom: rem(10);
    @media only screen and (max-width: 767px) {
      line-height: 1.16;
      letter-spacing: -0.02em;
      @include fontSize(20);
    }
  }
  p {
    color: var(--color-textBlack-80);
    @media only screen and (max-width: 767px) {
      margin-bottom: rem(7);
      line-height: 1.38;
      letter-spacing: -0.01em;
      @include fontSize(13);
    }
    &.MuiTypography-body2 {
      margin-bottom: rem(30);
      @media only screen and (max-width: 767px) {
        margin-bottom: rem(16);
      }
    }
  }
  .product-size {
    @media only screen and (min-width: 768px) {
      @include flex;
      button {
        align-self: flex-start;
      }
    }
    .MuiFormControl-root {
      margin: 0 0 rem(100);
      @media only screen and (min-width: 768px) {
        margin: 0;
        padding-right: rem(16);
        flex: 1 0 60%;
        max-width: 60%;
      }
    }
    p {
      text-align: right;
    }
  }
}
